:root{
    --black: #000;
    --white: #fff;
    --red: #ff0000;
    --bg: #d9d9d998;
    --main-color: #ff9000;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
}
/* start NavBar  */
.navbar{
    position: fixed;
    background-color: var(--white);
    height: 100px;
    margin-top: -100px;
    margin-left: -10px;
    width: 1360px;
    box-shadow: 1px 2px 20px -8px;
}

.ham{
    display: none;
}

.navbar .logo{
    margin-left: 100px;
    transform: translateY(10px);
}
.navbar .logo  img{
    width: 100px;
}
.navbar .logo p{
    margin-top: -60px;
    margin-left: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.navbar .logo p span{
    font-weight: 700;

}

/* Navbar  */
.navbar .navlinks{
    margin-left: 800px;
}
.navbar .navlinks ul{
    list-style: none;
    margin-top: -30px;
}
.navbar .navlinks ul li{
    display: inline;
    margin-left: 30px;
}
.navbar  .navlinks ul li a{
    color: var(--black);
    font-size: 17px;
    text-decoration: none;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* end navbar */

/* start Hero */

.hero{
    background-color: var(--bg);
    padding-top: 40px;
    margin-top: 100px;
    width: 1352px;
    height: 550px;
    margin-left: -10px;
}
.hero .text{
    margin-left: 100px;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fade;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.hero .text h1{
    font-size: 60px;
}
.hero .text #p1{
    font-size: 30px;
    margin-top: -40px;
    font-weight: 100;
}
.hero .text #p2{
    font-size: 15px;
    font-style: italic;
    color: var(--red);
    margin-top: -30px;
    font-weight: 500;
}
.hero .image{
    margin-top: -200px;
    margin-left: 700px;
    padding-left: -100px;
    transition: 0.03ms;
    width: 600px;
    height: 500px;
    overflow: hidden;

}

@keyframes slide{
    0%{
        margin-left: 0;
    }
    25%{
        margin-left: -700px;
    }
    50%{
        margin-left: -1300px;
    }
    75%{
        margin-left: -2000px;
    }
    100%{
        margin-left: 0;
    }
}
.imgs{
    display: flex;
    animation: slide 15s infinite;
    transition: 0.5s;
}
.imgs.active{
    margin-left: -1300px;
}
.fade{
    animation: fade;
    animation-name: to;
    animation-duration: 2s;
    animation-iteration-count: 1;
}


.manual-btn:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .image{
    margin-left: 0px;
}

#radio2:checked ~ .image{
    margin-left: -700px;
}

#radio3:checked ~ .imgs{
    margin-left: -1300px;
}

#radio4:checked ~ .imgs img{
    transform: translateX(-600px);
}

.nn{
    width: 100px;
    margin-left: 700px;
    display: flex;
}
.nn div{
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    display: flex;
    
    border-radius: 30px;
}
.nn1{
    width: 400px;
}



.hero .image img{
    width: 500px;
    margin-left:  100px;
    cursor: pointer;
}
.hero .two-buttons{
    margin-top: -250px;
    margin-left: 100px;
    animation: fade;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.hero .two-buttons #but1{
    width: 170px;
    height: 50px;
    border: 1px solid var(--black);
    background: none;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
}
.hero .two-buttons #but1:hover{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    box-shadow: 0px 4px 10px -4px;
}
.hero .two-buttons #but1 p{
    margin-left: 20px;
}
.hero .two-buttons #but1 .move1{
    margin-top: -39px;
    margin-left: 130px;
}
.hero .two-buttons #but1 img{
    width: 30px;
    
}

.hero .two-buttons .play{
    margin-top: -50px;
    margin-left: 200px;
}
.hero .two-buttons .play .o{
    background-color: var(--white);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 4px 10px -4px;
}
.hero .two-buttons .play img{
    width: 20px;
    margin-left: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.hero .two-buttons .play p{
    margin-top: -35px;
    margin-left: 60px;
}




.four-boxes{
    margin-top: -70px;
    margin-left: 150px;
    height: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.four-boxes div{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 50px;
    background-color: var(--white);
    border-radius: 20px;
    transition: 0.3s;
}
.four-boxes div:hover{
    box-shadow: 0px 5px 10px -6px;
}
.four-boxes img{
    width: 30px;
    margin-top: 10px;
    margin-left: 80px;
}
.four-boxes #p1{
    width: 150px;
    margin-left: 60px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.four-boxes .first-box #p1{
    margin-left: 60px;
}
.four-boxes .first-box #p1 span{
    margin-left: -30px;
}

.four-boxes .second-box #p1{
    margin-left: 50px;
}
.four-boxes .second-box #p1 span{
    margin-left: 15px;
}
.four-boxes #p2{
    font-size: 15px;
    width: 150px;
    margin-left: 30px;
}

/* end four-boxes */

/* start about */

.about-us #p1{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-left: 550px;
    margin-top: -100px;
}

.about-us img{
    margin-top: 50px;
    margin-left: 100px;
}
.about-us #p2{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    margin-left: 750px;
    margin-top: -200px;
}
.about-us #p3{
    margin-top: 70px;
    width: 1100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
}

.about-us button{
    width: 150px;
    margin-top: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    margin-left: 600px;
    box-shadow: 0px 4px 10px -4px;
}


.in-touch #header{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-left: 500px;
}


.two-buts{
    margin-left: 50px;
    margin-top: 50px;
}
.two-buts img{
    width: 100px;
}
.two-buts .first-butt img{
    margin-left: 50px;
}
.two-buts .second-butt img{
    margin-left: 20px;
}
.two-buts a p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: var(--black);
}
.two-buts a{
    text-decoration: none;
    float: left;
    margin-left: 300px;
}



.footer{
    background-color: var(--white);
    border-top: 1px solid var(--black);
    width: 1330px;
    margin-left: 10px;
    height: 400px;
    margin-top: 300px;
}
.footer .services{
    margin-top: 50px;
    margin-left: 100px;
}
.footer .services p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.footer .services a{
    color: var(--black);
    display: block;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer .services #serve{
    font-weight: 600;
    font-size: 18px;
}

.footer .social-links{
    margin-left: 400px;
    margin-top: -100px;
}
.footer .social-links a{
    text-decoration: none;
    color: #000;
}
.footer .social-links img{
    width: 30px;
    margin-left: 20px;
}


.footer .subcribe {
    margin-left: 850px;
    margin-top: -30px;
}
.footer .subcribe input{
    width: 350px;
    background-color: var(--bg);
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
    height: 30px;
}
.footer .subcribe button{
    width: 100px;
    height: 35px;
    background-color: var(--main-color);
    border-radius: 2px;
    border: none;
}
.footer hr{
    width: 900px;
    margin-left: 220px;
    margin-top: 120px;
}


.undertins{
    margin-left: 100px;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.undertins img{
    width: 30px;
}
.undertins a{
    color: var(--black);
    text-decoration: none;
    float: left;
}
.undertins .tin1,
.undertins .tin2{
    margin-right: 250px;
}

.undertins .tin2{
    margin-left: 170px;
}
.undertins .tin2 p{
    margin-top: -30px;
    margin-left: 50px;
}
.undertins .tin3{
    margin-left: 50px;
    padding-left: -100px;
}
.undertins .tin3 p{
    margin-top: -30px;
    margin-left: 50px;
}

















@media (width: 375px){

    
        body{
            padding: 0;
            margin: 0;
        }
        .navbar{
            width: 385px;
        }
    
        .navbar .logo{
            margin-top: 15px;
            margin-left: 30px;
        }
        .navbar .logo p{
            margin-top: -50px;
        }
        .navbar .logo img{
            width: 80px;
        }
        .navbar .navlinks{
            margin-left: 205px;
            width: 150px;
            background-color: var(--bg);
            padding-bottom: 10px;
            display: none;
        }
        .navbar .navlinks.active{
            display: block;
        }
        .navbar .navlinks ul li a{
            display: block;
        }
        .ham{
            display: flex;
            background: none;
            margin-left: 350px;
            margin-top: -30px;
            position: relative;
        }
        .ham.active{
            margin-left: 300px;
            margin-top: -200px;
        }
        #open.active{
            margin-left: 300px;
            margin-top: -200px;
            display: none;
        }
        .ham img{
            width: 30px;
        }
        .ham #closee{
            position: relative;
            display: none;
    
        }
        #closee.active{
            display: block;
        }
    
    
        .hero{
            width: 385px;
        }
        .hero .text{
            margin-left: 50px;
        }
        .hero .text h1{
            font-size: 40px;
        }
        .hero .text #p1{
            font-size: 20px;
        }
        .hero .text #p2{
            margin-top: -10px;
        }
    
        .hero .image{
            margin-left: -60px;
            margin-top: 300px;
            width: 400px;
        }
        .hero .image img{
            width: 250px;
        }
    
    
        @keyframes slide{
            0%{
                margin-left: 0;
            }
            25%{
                margin-left: -400px;
            }
            50%{
                margin-left: -850px;
            }
            75%{
                margin-left: -1300px;
            }
            100%{
                margin-left: 0;
            }
        }
    
        .hero .two-buttons{
            margin-left: 50px;
            margin-top: 200px;
        }
       
     
        .hero .two-buttons #but1{
            width: 90px;
            height: 30px;
        }
        .hero .two-buttons #but1 p{
            font-size: 10px;
            margin-left: 1pc;
        }
        .hero .two-buttons #but1 .move1{
            display: none;
        }
    
    
        .hero .two-buttons .play{
            margin-left: 120px;
            margin-top: -30px;
        }
        .hero .two-buttons .play .o{
            width: 30px;
            height: 30px;
        }
        .hero .two-buttons .play img{
            width: 15px;
            margin-left: 8px;
            margin-top: 8px;
        }
        .hero .two-buttons .play p{
            font-size: 12px;
            margin-left: 40px;
            margin-top: -20px;
        }
    
    
        .four-boxes{
            margin-top: 50px;
            margin-left: 30px;
        }
        .four-boxes div{
            margin-bottom: 40px;
        }
    
    
        .about-us #p1{
            margin-top: 600px;
            margin-left: 50px;
        }
        .about-us img{
            margin-top: -20px;
            width: 300px;
            margin-left: 20px;
        }
        .about-us #p2{
            font-size: 12px;
            margin-left: 20px;
            margin-top: 30px;
            width: 300px;
        }
        .about-us #p3{
            margin-left: 20px;
            margin-top: 30px;
            width: 300px;
        }
        .about-us button{
            margin-left: 100px;
        }
    
    
        .in-touch #header{
            margin-left: 50px;
            font-size: 50px;
        }
        
    
        .two-buts{
            margin-left: 20px;
        }
        .two-buts a{
            margin-left: 60px;
        }
        .two-buts .second-butt{
            margin-left: 90px;
        }
        .two-buts .first-butt img{
            margin-left: 70px;
        }
        .two-buts .second-butt img{
            margin-left: 40px;
        }
        .two-buts img{
            width: 60px;
        }
    
    
        .footer{
            margin-top: 400px;
            width: 385px;
        }
        .footer .services{
            margin-left: 160px;
        }
        .footer .social-links{
            margin-left: 15px;
            margin-top: 50px;
        }
    
        .footer .subcribe{
            margin-left: 20px;
            margin-top: 70px;
        }
        .footer .subcribe input{
            width: 200px;
        }
        .footer .subcribe button{
            width: 100px;
        }
    
       .footer hr{
        width: 330px;
        margin-left: 10px;
       }
    
       .undertins{
        margin-left: 30px;
        font-size: 12px;
       }
    
       .undertins .tin1,
    .undertins .tin2{
        margin-right: 0px;
    }
    
    .undertins .tin2{
        margin-left: 70px;
    }
    .undertins .tin2 p{
        margin-top: -30px;
        margin-left: 50px;
    }
    
    
}




@media (max-width: 400px){
    body{
        padding: 0;
        margin: 0;
    }
    .navbar{
        width: 385px;
    }

    .navbar .logo{
        margin-top: 15px;
        margin-left: 30px;
    }
    .navbar .logo p{
        margin-top: -50px;
    }
    .navbar .logo img{
        width: 80px;
    }
    .navbar .navlinks{
        margin-left: 235px;
        width: 150px;
        background-color: var(--bg);
        padding-bottom: 10px;
        display: none;
    }
    .navbar .navlinks.active{
        display: block;
    }
    .navbar .navlinks ul li a{
        display: block;
    }
    .ham{
        display: flex;
        background: none;
        margin-left: 300px;
        margin-top: -30px;
        position: relative;
    }
    .ham.active{
        margin-left: 300px;
        margin-top: -200px;
    }
    #open.active{
        margin-left: 300px;
        margin-top: -200px;
        display: none;
    }
    .ham img{
        width: 30px;
    }
    .ham #closee{
        position: relative;
        display: none;

    }
    #closee.active{
        display: block;
    }


    .hero{
        width: 385px;
        height: 600px;
    }
    .hero .text{
        margin-left: 50px;
    }
    .hero .text h1{
        font-size: 40px;
    }
    .hero .text #p1{
        font-size: 20px;
    }
    .hero .text #p2{
        margin-top: -10px;
    }

    .hero .image{
        margin-left: -60px;
        margin-top: 500px;
        width: 400px;
    }
    .hero .image img{
        width: 250px;
    }


    @keyframes slide{
        0%{
            margin-left: 0;
        }
        25%{
            margin-left: -400px;
        }
        50%{
            margin-left: -850px;
        }
        75%{
            margin-left: -1300px;
        }
        100%{
            margin-left: 0;
        }
    }

    .hero .two-buttons{
        margin-left: 50px;
        margin-top: -200000px;
        position: relative;
        display: none;
    }

    .hero .two-buttons #but1{
        width: 90px;
        height: 30px;
    }
    .hero .two-buttons #but1 p{
        font-size: 10px;
        margin-left: 1pc;
    }
    .hero .two-buttons #but1 .move1{
        display: none;
    }


    .hero .two-buttons .play{
        margin-left: 120px;
        margin-top: -30px;
    }
    .hero .two-buttons .play .o{
        width: 30px;
        height: 30px;
    }
    .hero .two-buttons .play img{
        width: 15px;
        margin-left: 8px;
        margin-top: 8px;
    }
    .hero .two-buttons .play p{
        font-size: 12px;
        margin-left: 40px;
        margin-top: -20px;
    }


    .four-boxes{
        margin-top: 50px;
        margin-left: 30px;
    }
    .four-boxes div{
        margin-bottom: 40px;
    }


    .about-us #p1{
        margin-top: 600px;
        margin-left: 50px;
    }
    .about-us img{
        margin-top: -20px;
        width: 300px;
        margin-left: 20px;
    }
    .about-us #p2{
        font-size: 12px;
        margin-left: 20px;
        margin-top: 30px;
        width: 300px;
    }
    .about-us #p3{
        margin-left: 20px;
        margin-top: 30px;
        width: 300px;
    }
    .about-us button{
        margin-left: 100px;
    }


    .in-touch #header{
        margin-left: 50px;
        font-size: 50px;
    }
    

    .two-buts{
        margin-left: 20px;
    }
    .two-buts a{
        margin-left: 60px;
    }
    .two-buts .second-butt{
        margin-left: 90px;
    }
    .two-buts .first-butt img{
        margin-left: 70px;
    }
    .two-buts .second-butt img{
        margin-left: 40px;
    }
    .two-buts img{
        width: 60px;
    }


    .footer{
        margin-top: 400px;
        width: 385px;
    }
    .footer .services{
        margin-left: 160px;
    }
    .footer .social-links{
        margin-left: 15px;
        margin-top: 50px;
    }

    .footer .subcribe{
        margin-left: 20px;
        margin-top: 70px;
    }
    .footer .subcribe input{
        width: 200px;
    }
    .footer .subcribe button{
        width: 100px;
    }

   .footer hr{
    width: 330px;
    margin-left: 10px;
   }

   .undertins{
    margin-left: 30px;
    font-size: 12px;
   }

   .undertins .tin1,
.undertins .tin2{
    margin-right: 0px;
}

.undertins .tin2{
    margin-left: 70px;
}
.undertins .tin2 p{
    margin-top: -30px;
    margin-left: 50px;
}
}







/* @media (width: 412px){

    .two-buts a{
        
        mar-bottom: 50px;
    }

    .footer{
        margin-top: 900px;
    }

} */





@media (max-width: 500px){
    body{
        padding: 0;
        margin: 0;
    }
    .navbar{
        width: 440px;
    }

    .navbar .logo{
        margin-top: 15px;
        margin-left: 30px;
    }
    .navbar .logo p{
        margin-top: -50px;
    }
    .navbar .logo img{
        width: 80px;
    }
    .navbar .navlinks{
        margin-left: 300px;
        width: 150px;
        background-color: var(--bg);
        padding-bottom: 10px;
        display: none;
        animation-name: ooo;
        animation-duration: 3s;
    }
    .navbar .navlinks.active{
        display: block;
    }
    /* @keyframe ooo{
        from{
            margin-left: 400px;
        }
        to{
            margin-left: 300px;
        }
    } */
    .navbar .navlinks ul li a{
        display: block;
    }
    .ham{
        display: flex;
        background: none;
        margin-left: 350px;
        margin-top: -30px;
        position: relative;
    }
    .ham.active{
        margin-left: 350px;
        margin-top: -200px;
    }
    #open.active{
        margin-left: 300px;
        margin-top: -200px;
        display: none;
    }
    .ham img{
        width: 30px;
    }
    .ham #closee{
        position: relative;
        display: none;

    }
    #closee.active{
        display: block;
    }


    .hero{
        width: 440px;
        height: 600px;
    }
    .hero .text{
        margin-left: 50px;
    }
    .hero .text h1{
        font-size: 50px;
    }
    .hero .text #p1{
        font-size: 28px;
    }
    .hero .text #p2{
        margin-top: -20px;
    }

    .hero .image{
        margin-left: -60px;
        margin-top: 100px;
        width: 500px;
    }
    .hero .image img{
        width: 300px;
    }

    @keyframes slide{
        0%{
            margin-left: 0;
        }
        25%{
            margin-left: -400px;
        }
        50%{
            margin-left: -850px;
        }
        75%{
            margin-left: -1300px;
        }
        100%{
            margin-left: 0;
        }
    }

    .hero .two-buttons{
        margin-left: 50px;
        margin-top: -300px;
        display: none;
    }
    .hero .two-buttons #but1{
        width: 90px;
        height: 30px;
    }
    .hero .two-buttons #but1 p{
        font-size: 10px;
        margin-left: 1pc;
    }
    .hero .two-buttons #but1 .move1{
        display: none;
    }


    .hero .two-buttons .play{
        margin-left: 120px;
        margin-top: -30px;
    }
    .hero .two-buttons .play .o{
        width: 30px;
        height: 30px;
    }
    .hero .two-buttons .play img{
        width: 15px;
        margin-left: 8px;
        margin-top: 8px;
    }
    .hero .two-buttons .play p{
        font-size: 12px;
        margin-left: 40px;
        margin-top: -20px;
    }


    .four-boxes{
        margin-top: 50px;
        margin-left: 50px;
    }
    .four-boxes div{
        margin-bottom: 40px;
    }


    .about-us #p1{
        margin-top: 600px;
        margin-left: 70px;
    }
    .about-us img{
        margin-top: -20px;
        width: 300px;
        margin-left: 50px;
    }
    .about-us #p2{
        font-size: 12px;
        margin-left: 50px;
        margin-top: 30px;
        width: 300px;
    }
    .about-us #p3{
        margin-left: 50px;
        margin-top: 30px;
        width: 300px;
    }
    .about-us button{
        margin-left: 100px;
    }


    .in-touch #header{
        margin-left: 50px;
        font-size: 50px;
    }
    

    .two-buts{
        margin-left: 20px;
    }
    .two-buts a{
        margin-left: 60px;
    }
    .two-buts .second-butt{
        margin-left: 90px;
    }
    .two-buts .first-butt img{
        margin-left: 70px;
    }
    .two-buts .second-butt img{
        margin-left: 40px;
    }
    .two-buts img{
        width: 60px;
    }


    .footer{
        margin-top: 400px;
        width: 385px;
    }
    .footer .services{
        margin-left: 160px;
    }
    .footer .social-links{
        margin-left: 15px;
        margin-top: 50px;
    }

    .footer .subcribe{
        margin-left: 20px;
        margin-top: 70px;
    }
    .footer .subcribe input{
        width: 200px;
    }
    .footer .subcribe button{
        width: 100px;
    }

   .footer hr{
    width: 330px;
    margin-left: 10px;
   }

   .undertins{
    margin-left: 30px;
    font-size: 12px;
   }

   .undertins .tin1,
.undertins .tin2{
    margin-right: 0px;
}

.undertins .tin2{
    margin-left: 70px;
}
.undertins .tin2 p{
    margin-top: -30px;
    margin-left: 50px;
}
}




@media (max-width: 540px){
    body{
        padding: 0;
        margin: 0;
    }
    .navbar{
        width: 560px;
    }

    .navbar .logo{
        margin-top: 15px;
        margin-left: 30px;
    }
    .navbar .logo p{
        margin-top: -50px;
    }
    .navbar .logo img{
        width: 80px;
    }
    .navbar .navlinks{
        margin-left: 450px;
        width: 150px;
        background-color: var(--bg);
        padding-bottom: 10px;
        display: none;
        animation-name: ooo;
        animation-duration: 3s;
    }
    .navbar .navlinks.active{
        display: block;
    }
    /* @keyframe ooo{
        from{
            margin-left: 400px;
        }
        to{
            margin-left: 300px;
        }
    } */
    .navbar .navlinks ul li a{
        display: block;
    }
    .ham{
        display: flex;
        background: none;
        margin-left: 450px;
        margin-top: -30px;
        position: relative;
    }
    .ham.active{
        margin-left: 450px;
        margin-top: -200px;
    }
    #open.active{
        margin-left: 420px;
        margin-top: -200px;
        display: none;
    }
    .ham img{
        width: 30px;
    }
    .ham #closee{
        position: relative;
        display: none;

    }
    #closee.active{
        display: block;
    }


    .hero{
        width: 560px;
        height: 600px;
    }
    .hero .text{
        margin-left: 150px;
    }
    .hero .text h1{
        font-size: 50px;
    }
    .hero .text #p1{
        font-size: 28px;
    }
    .hero .text #p2{
        margin-top: -20px;
    }

    .hero .image{
        margin-left: 100px;
        margin-top: 100px;
        width: 400px;
    }
    .hero .image img{
        width: 300px;
    }

    @keyframes slide{
        0%{
            margin-left: 0;
        }
        25%{
            margin-left: -500px;
        }
        50%{
            margin-left: -900px;
        }
        75%{
            margin-left: -1300px;
        }
        100%{
            margin-left: 0;
        }
    }

    .hero .two-buttons{
        margin-left: 150px;
        margin-top: -550px;
    }
    .hero .two-buttons #but1{
        width: 90px;
        height: 30px;
    }
    .hero .two-buttons #but1 p{
        font-size: 10px;
        margin-left: 1pc;
    }
    .hero .two-buttons #but1 .move1{
        display: none;
    }


    .hero .two-buttons .play{
        margin-left: 120px;
        margin-top: -30px;
    }
    .hero .two-buttons .play .o{
        width: 30px;
        height: 30px;
    }
    .hero .two-buttons .play img{
        width: 15px;
        margin-left: 8px;
        margin-top: 8px;
    }
    .hero .two-buttons .play p{
        font-size: 12px;
        margin-left: 40px;
        margin-top: -20px;
    }


    .four-boxes{
        margin-top: 50px;
        margin-left:150px;
    }
    .four-boxes div{
        margin-bottom: 40px;
    }


    .about-us #p1{
        margin-top: 600px;
        margin-left: 150px;
    }
    .about-us img{
        margin-top: -20px;
        width: 400px;
        margin-left: 80px;
    }
    .about-us #p2{
        font-size: 14px;
        margin-left: 80px;
        margin-top: 30px;
        width: 400px;
    }
    .about-us #p3{
        margin-left: 80px;
        margin-top: 30px;
        width: 400px;
    }
    .about-us button{
        margin-left: 210px;
    }


    .in-touch #header{
        margin-left: 150px;
        font-size: 50px;
    }
    

    .two-buts{
        margin-left: -10px;
    }
    .two-buts a{
        margin-left: 60px;
    }
    .two-buts .second-butt{
        margin-left: 90px;
    }
    .two-buts .first-butt img{
        margin-left: 70px;
    }
    .two-buts .second-butt img{
        margin-left: 40px;
    }
    .two-buts img{
        width: 60px;
    }


    .footer{
        margin-top: 300px;
        width: 520px;
    }
    .footer .services{
        margin-left: 70px;
    }
    .footer .social-links{
        margin-left: 170px;
        margin-top: -100px;
    }

    .footer .subcribe{
        margin-left: 50px;
        margin-top: 120px;
    }
    .footer .subcribe input{
        width: 350px;
    }
    .footer .subcribe button{
        width: 100px;
    }

   .footer hr{
    width: 500px;
    margin-left: 10px;
   }

   .undertins{
    margin-left: 30px;
    font-size: 12px;
   }

   .undertins .tin1,
.undertins .tin2{
    margin-right: 0px;
}

.undertins .tin2{
    margin-left: 70px;
}
.undertins .tin2 p{
    margin-top: -30px;
    margin-left: 50px;
}
}


@media (min-width: 700px){

    body{
        padding: 0%;
        margin: 0;
    }
    .navbar{
        width: 830px;
    }
    .navbar .navlinks{
        margin-top: 20px;
        margin-left: 350px;
    }
    .navbar .navlinks.active{
        display: block;
    }
    .navbar .navlinks ul {
        display: flex;
        width: 500px;
    }
    .navbar .navlinks ul li{
        width: 90px;
        margin-left: 15px;
    }
    .ham{
        margin-left: 700px;
        display: none;
    }

    .hero{
        width: 820px;
        height: 1100px;
    }
    .hero .text{
        margin-left: 250px;
    }

    .hero .image{
        margin-left: 150px;
        margin-top: 300px;
        width: 500px;
    }
    

    .hero .two-buttons{
        margin-left: 200px;
        margin-top: -700px;
    }



    .about-us #p1{
        margin-top: 100px;
        margin-left: 300px;
    }

    .about-us #p2{
        font-size: 12px;
        margin-left: 100px;
        margin-top: 30px;
        width: 600px;
    }

    .about-us #p3{
        margin-left: 100px;
        margin-top: 30px;
        width: 600px;
    }

    .about-us button{
        margin-left: 300px;
    }


    .in-touch{
        
        margin-top: 100px;
    }
    .in-touch #header{
        margin-left: 250px;
        font-size: 50px;
    }

    .two-buts{
        margin-left: 20px;
    }


    .footer{
        margin-top: 400px;
        width: 780px;
    }

    .footer .subcribe{
        margin-left: 200px;
        margin-top: 150px;
    }

    .footer hr{
        width: 780px;
        margin-left: 10px;
       }

       .undertins .tin1,
       .undertins .tin2{
           margin-right: 20px;
       }
       .undertins .tin2{
        margin-left: 80px;
    }
    .undertins .tin2 p{
        margin-top: -30px;
        margin-left: 50px;
    }
}


@media (min-width: 853px){
    
    body{
        padding: 0%;
        margin: 0;
    }

    .navbar{
        width: 844px;
    }

    .navbar .navlinks{
        margin-top: 20px;
        margin-left: 350px;
    }

    .hero{
        width: 850px;
        height: 1200px;
    }
    .hero .text{
        margin-left: 170px;
    }
    .hero .text h1{
        font-size: 100px;
    }
    .hero .text #p1{
        margin-top: -70px;
        font-size: 50px;
    }
    .hero .text #p2{
        font-size: 30px;
    }

    .hero .image{
        margin-left: 100px;
        margin-top: 300px;
        width: 700px;
    }
    .hero .image img{
        width: 600px;
    }

    @keyframes slide{
        0%{
            margin-left: 0;
        }
        25%{
            margin-left: -750px;
        }
        50%{
            margin-left: -1450px;
        }
        75%{
            margin-left: -2300px;
        }
        100%{
            margin-left: 0;
        }
    }




    .hero .two-buttons{
        margin-left: 250px;
        margin-top: -700px;
    }


    .four-boxes{
        margin-left: 150px;
    }
    .four-boxes div{
        margin-left: 55px;
        margin-bottom: 30px;
    }



    .about-us #p1{
        margin-top: 100px;
        margin-left: 300px;
        font-size: 70px;
    }

    .about-us img{
        margin-left: 50px;
        width: 750px;
    }

    .about-us #p2{
        font-size: 20px;
        margin-left: 50px;
        margin-top: 30px;
        width: 750px;
    }

    .about-us #p3{
        margin-left: 50px;
        margin-top: 30px;
        width: 750px;
        font-size: 24px;
    }

    .about-us button{
        margin-left: 340px;
    }


    .in-touch{
        
        margin-top: 150px;
    }

    .in-touch #header{
        margin-left: 300px;
        font-size: 50px;
    }

    .two-buts{
        margin-left: -200px;
    }


    .footer{
        margin-top: 400px;
        width: 830px;
    }

    .footer .subcribe{
        margin-left: 330px;
        margin-top: 100px;
    }


    .footer hr{
        width: 800px;
        margin-left: 10px;
       }

       .undertins .tin1,
       .undertins .tin2{
           margin-right: 70px;
       }
       .undertins .tin2{
        margin-left: 60px;
    }

}

@media (min-width: 912px){
    
    body{
        padding: 0%;
        margin: 0;
    }

    .navbar{
        width: 920px;
    }

    .navbar .navlinks{
        margin-top: 20px;
        margin-left: 400px;
    }

    .hero{
        width: 920px;
        height: 1200px;
    }
    .hero .text{
        margin-left: 230px;
    }
    .hero .text h1{
        font-size: 100px;
    }
    .hero .text #p1{
        margin-top: -70px;
        font-size: 50px;
    }
    .hero .text #p2{
        font-size: 30px;
    }

    .hero .image{
        margin-left: 150px;
        margin-top: 300px;
        width: 700px;
    }
    .hero .image img{
        width: 600px;
    }

    @keyframes slide{
        0%{
            margin-left: 0;
        }
        25%{
            margin-left: -750px;
        }
        50%{
            margin-left: -1450px;
        }
        75%{
            margin-left: -2300px;
        }
        100%{
            margin-left: 0;
        }
    }




    .hero .two-buttons{
        margin-left: 300px;
        margin-top: -700px;
    }


    .four-boxes{
        margin-left: 200px;
    }
    .four-boxes div{
        margin-left: 55px;
        margin-bottom: 30px;
    }



    .about-us #p1{
        margin-top: 100px;
        margin-left: 350px;
        font-size: 70px;
    }

    .about-us img{
        margin-left: 50px;
        width: 800px;
    }

    .about-us #p2{
        font-size: 20px;
        margin-left: 50px;
        margin-top: 30px;
        width: 800px;
    }

    .about-us #p3{
        margin-left: 50px;
        margin-top: 30px;
        width: 800px;
        font-size: 24px;
    }

    .about-us button{
        margin-left: 360px;
    }


    .in-touch{
        
        margin-top: 150px;
    }

    .in-touch #header{
        margin-left: 330px;
        font-size: 50px;
    }

    .two-buts{
        margin-left: -150px;
    }


    .footer{
        margin-top: 400px;
        width: 890px;
    }

    .footer .subcribe{
        margin-left: 380px;
        margin-top: 100px;
    }


    .footer hr{
        width: 850px;
        margin-left: 10px;
       }

       .undertins .tin1,
       .undertins .tin2{
           margin-right: 110px;
       }
       .undertins .tin2{
        margin-left: 60px;
    }

}


@media (min-width: 1024px){
    
    body{
        padding: 0%;
        margin: 0;
    }

    .navbar{
        width: 1020px;
    }

    .navbar .navlinks{
        margin-top: 20px;
        margin-left: 500px;
    }

    .hero{
        width: 1020px;
        height: 1200px;
    }
    .hero .text{
        margin-left: 250px;
    }
    .hero .text h1{
        font-size: 100px;
    }
    .hero .text #p1{
        margin-top: -70px;
        font-size: 50px;
    }
    .hero .text #p2{
        font-size: 30px;
    }

    .hero .image{
        margin-left: 200px;
        margin-top: 300px;
        width: 700px;
    }
    .hero .image img{
        width: 600px;
    }

    @keyframes slide{
        0%{
            margin-left: 0;
        }
        25%{
            margin-left: -750px;
        }
        50%{
            margin-left: -1450px;
        }
        75%{
            margin-left: -2300px;
        }
        100%{
            margin-left: 0;
        }
    }




    .hero .two-buttons{
        margin-left: 350px;
        margin-top: -700px;
    }


    .four-boxes{
        margin-left: 20px;
    }
    .four-boxes div{
        margin-left: 35px;
    }



    .about-us #p1{
        margin-top: 100px;
        margin-left: 400px;
        font-size: 70px;
    }

    .about-us img{
        width: 800px;
    }

    .about-us #p2{
        font-size: 20px;
        margin-left: 100px;
        margin-top: 30px;
        width: 800px;
    }

    .about-us #p3{
        margin-left: 100px;
        margin-top: 30px;
        width: 800px;
        font-size: 24px;
    }

    .about-us button{
        margin-left: 430px;
    }


    .in-touch{
        
        margin-top: 150px;
    }

    .in-touch #header{
        margin-left: 400px;
        font-size: 50px;
    }

    .two-buts{
        margin-left: -90px;
    }


    .footer{
        margin-top: 400px;
        width: 1020px;
    }

    .footer .subcribe{
        margin-left: 400px;
        margin-top: 100px;
    }


    .footer hr{
        width: 1000px;
        margin-left: 10px;
       }

       .undertins .tin1,
       .undertins .tin2{
           margin-right: 110px;
       }
       .undertins .tin2{
        margin-left: 60px;
    }

}








































































@media (min-width: 1300px){
    :root{
        --black: #000;
        --white: #fff;
        --red: #ff0000;
        --bg: #d9d9d998;
        --main-color: #ff9000;
    }
    a{
        text-decoration: none;
    }
    body{
        margin: 0px;
        padding: 0px;
    }
    /* start NavBar  */
    .navbar{
        position: fixed;
        background-color: var(--white);
        height: 100px;
        margin-top: -100px;
        margin-left: -10px;
        width: 1360px;
        box-shadow: 1px 2px 20px -8px;
    }
    
    .ham{
        display: none;
    }
    
    .navbar .logo{
        margin-left: 100px;
        transform: translateY(10px);
    }
    .navbar .logo  img{
        width: 100px;
    }
    .navbar .logo p{
        margin-top: -60px;
        margin-left: 90px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
    }
    .navbar .logo p span{
        font-weight: 700;
    
    }
    
    /* Navbar  */
    .navbar .navlinks{
        margin-left: 800px;
    }
    .navbar .navlinks ul{
        list-style: none;
        margin-top: -30px;
    }
    .navbar .navlinks ul li{
        display: inline;
        margin-left: 30px;
    }
    .navbar  .navlinks ul li a{
        color: var(--black);
        font-size: 17px;
        text-decoration: none;
        position: relative;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    /* end navbar */
    
    /* start Hero */
    
    .hero{
        background-color: var(--bg);
        padding-top: 40px;
        margin-top: 100px;
        width: 1352px;
        height: 550px;
        margin-left: -10px;
    }
    .hero .text{
        margin-left: 100px;
        margin-top: 100px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        animation: fade;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
    }
    .hero .text h1{
        font-size: 60px;
    }
    .hero .text #p1{
        font-size: 30px;
        margin-top: -40px;
        font-weight: 100;
    }
    .hero .text #p2{
        font-size: 15px;
        font-style: italic;
        color: var(--red);
        margin-top: -30px;
        font-weight: 500;
    }
    .hero .image{
        margin-top: -200px;
        margin-left: 700px;
        padding-left: -100px;
        transition: 0.03ms;
        width: 600px;
        height: 500px;
        overflow: hidden;
    
    }
    
    @keyframes slide{
        0%{
            margin-left: 0;
        }
        25%{
            margin-left: -700px;
        }
        50%{
            margin-left: -1300px;
        }
        75%{
            margin-left: -2000px;
        }
        100%{
            margin-left: 0;
        }
    }
    .imgs{
        display: flex;
        animation: slide 15s infinite;
        transition: 0.5s;
    }
    .imgs.active{
        margin-left: -1300px;
    }
    .fade{
        animation: fade;
        animation-name: to;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    
    
    .manual-btn:not(:last-child){
        margin-right: 40px;
    }
    
    #radio1:checked ~ .image{
        margin-left: 0px;
    }
    
    #radio2:checked ~ .image{
        margin-left: -700px;
    }
    
    #radio3:checked ~ .imgs{
        margin-left: -1300px;
    }
    
    #radio4:checked ~ .imgs img{
        transform: translateX(-600px);
    }
    
    .nn{
        width: 100px;
        margin-left: 700px;
        display: flex;
    }
    .nn div{
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #ff0000;
        display: flex;
        
        border-radius: 30px;
    }
    .nn1{
        width: 400px;
    }
    
    
    
    .hero .image img{
        width: 500px;
        margin-left:  100px;
        cursor: pointer;
    }
    .hero .two-buttons{
        margin-top: -250px;
        margin-left: 100px;
        animation: fade;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
    }
    .hero .two-buttons #but1{
        width: 170px;
        height: 50px;
        border: 1px solid var(--black);
        background: none;
        border-radius: 50px;
        transition: 0.3s all ease-in-out;
    }
    .hero .two-buttons #but1:hover{
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        box-shadow: 0px 4px 10px -4px;
    }
    .hero .two-buttons #but1 p{
        margin-left: 20px;
    }
    .hero .two-buttons #but1 .move1{
        margin-top: -39px;
        margin-left: 130px;
    }
    .hero .two-buttons #but1 img{
        width: 30px;
        
    }
    
    .hero .two-buttons .play{
        margin-top: -50px;
        margin-left: 200px;
    }
    .hero .two-buttons .play .o{
        background-color: var(--white);
        width: 50px;
        height: 50px;
        border-radius: 50px;
        box-shadow: 0px 4px 10px -4px;
    }
    .hero .two-buttons .play img{
        width: 20px;
        margin-left: 15px;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
    }
    
    .hero .two-buttons .play p{
        margin-top: -35px;
        margin-left: 60px;
    }
    
    
    
    
    .four-boxes{
        margin-top: -70px;
        margin-left: 150px;
        height: 400px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .four-boxes div{
        width: 200px;
        height: 200px;
        float: left;
        margin-left: 50px;
        background-color: var(--white);
        border-radius: 20px;
        transition: 0.3s;
    }
    .four-boxes div:hover{
        box-shadow: 0px 5px 10px -6px;
    }
    .four-boxes img{
        width: 30px;
        margin-top: 10px;
        margin-left: 80px;
    }
    .four-boxes #p1{
        width: 150px;
        margin-left: 60px;
        font-size: 17px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .four-boxes .first-box #p1{
        margin-left: 60px;
    }
    .four-boxes .first-box #p1 span{
        margin-left: -30px;
    }
    
    .four-boxes .second-box #p1{
        margin-left: 50px;
    }
    .four-boxes .second-box #p1 span{
        margin-left: 15px;
    }
    .four-boxes #p2{
        font-size: 15px;
        width: 150px;
        margin-left: 30px;
    }
    
    /* end four-boxes */
    
    /* start about */
    
    .about-us #p1{
        font-size: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
        margin-left: 550px;
        margin-top: -100px;
    }
    
    .about-us img{
        margin-top: 50px;
        margin-left: 80px;
        width: 700px;
    }
    .about-us #p2{
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 500px;
        margin-left: 800px;
        margin-top: -200px;
    }
    .about-us #p3{
        margin-top: 70px;
        width: 1100px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 100px;
    }
    
    .about-us button{
        width: 150px;
        margin-top: 50px;
        height: 50px;
        border-radius: 50px;
        border: none;
        background-color: var(--main-color);
        margin-left: 600px;
        box-shadow: 0px 4px 10px -4px;
    }
    
    
    .in-touch #header{
        font-size: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
        margin-left: 500px;
    }
    
    
    .two-buts{
        margin-left: 50px;
        margin-top: 50px;
    }
    .two-buts img{
        width: 100px;
    }
    .two-buts .first-butt img{
        margin-left: 50px;
    }
    .two-buts .second-butt img{
        margin-left: 20px;
    }
    .two-buts a p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: var(--black);
    }
    .two-buts a{
        text-decoration: none;
        float: left;
        margin-left: 300px;
    }
    
    
    
    .footer{
        background-color: var(--white);
        border-top: 1px solid var(--black);
        width: 1330px;
        margin-left: 10px;
        height: 400px;
        margin-top: 300px;
    }
    .footer .services{
        margin-top: 50px;
        margin-left: 100px;
    }
    .footer .services p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
    }
    .footer .services a{
        color: var(--black);
        display: block;
        padding-bottom: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .footer .services #serve{
        font-weight: 600;
        font-size: 18px;
    }
    
    .footer .social-links{
        margin-left: 400px;
        margin-top: -100px;
    }
    .footer .social-links a{
        text-decoration: none;
        color: #000;
    }
    .footer .social-links img{
        width: 30px;
        margin-left: 20px;
    }
    
    
    .footer .subcribe {
        margin-left: 850px;
        margin-top: -30px;
    }
    .footer .subcribe input{
        width: 350px;
        background-color: var(--bg);
        border: 1px solid black;
        border-radius: 4px;
        padding-left: 10px;
        height: 30px;
    }
    .footer .subcribe button{
        width: 100px;
        height: 35px;
        background-color: var(--main-color);
        border-radius: 2px;
        border: none;
    }
    .footer hr{
        width: 900px;
        margin-left: 220px;
        margin-top: 120px;
    }
    
    
    .undertins{
        margin-left: 100px;
        margin-top: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .undertins img{
        width: 30px;
    }
    .undertins a{
        color: var(--black);
        text-decoration: none;
        float: left;
    }
    .undertins .tin1,
    .undertins .tin2{
        margin-right: 250px;
    }
    
    .undertins .tin2{
        margin-left: 170px;
    }
    .undertins .tin2 p{
        margin-top: -30px;
        margin-left: 50px;
    }
    .undertins .tin3{
        margin-left: 50px;
        padding-left: -100px;
    }
    .undertins .tin3 p{
        margin-top: -30px;
        margin-left: 50px;
    }
    
}