<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickMed</title>
    <link rel="icon" href="/images/quickmedlogo.PNG">
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/topblogani.css">
</head>
<body>

  <!-- start NavBar -->
  <div class="navbar">

    <div class="logo">
        <img src="/images/quickmedlogo.PNG" alt="QuickMed Logo" class="top">
        <p class="top"><span>QUICK</span>MED</p>
    </div>

    <div class="ham">
        <img id="open" src="/images/hamburger-svgrepo-com (1).png" alt="hamburger icon">
        <img id="closee" src="/images/close-circle-svgrepo-com.png" alt="close icon">
    </div>
    <div class="navlinks">


        <div class="navclose">
            <p id="clop">X</p>
        </div>
      
        <ul id="ul">
            <li><a href="/">Home</a></li>
            <li><a class="aboutl">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboimg"></a></li>
            <div class="aboutdrop">
            <li class="donts1"><a href="/about/aboutus">About Us</a></li>
            <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
        </div>
            <li><a href="blog">Blog</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a class="joinl">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joinimg"></a></li>
            <div class="joindrop">
            <li class="donts2"><a href="/invest/investment">Investment</a></li>
            <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
        </div>
        </ul>

        
    </div>

   

    <div class="navpop">
    <div class="aboutpop">
        <ul>
            <li><a href="/about/aboutus">About Us</a></li>
            <li><a href="/about/aboutdteam">About the team</a></li>
        </ul>
    </div>
    <div class="joinpop">
        <ul>
            <li><a href="/invest/investment">Investment</a></li>
            <li><a href="/invest/partnership">Partnership</a></li>
        </ul>
    </div>

</div>

  

</div>
<!-- 08062812376 -->
<!-- end navbar -->






<div class="eveblog">


    <div class="carousel-container">
        <div class="carousel-slide">
          <!-- Left arrow -->
          <div class="carousel-arrow left-arrow">◀</div>
          
          <!-- Content Overlay -->
          <div class="carousel-content">
            <h3 class="featured">Hacked8 Academy</h3>
            <h1>Breaking Into Product Design: Advice from Untitled Founder, Frankie</h1>
            <p>Let’s get one thing out of the way: you don’t need a fancy Bachelor’s Degree to get into Product Design. We sat down with Frankie Sullivan to talk about gatekeeping in product design and how anyone can get into this growing industry.</p>
          </div>
          
          <!-- Right arrow -->
          <div class="carousel-arrow right-arrow">▶</div>
        </div>


        <div class="carousel-slide2">
            <!-- Left arrow -->
            <div class="carousel-arrow left-arrow2">◀</div>
            
            <!-- Content Overlay -->
            <div class="carousel-content">
              <h3 class="featured">Featured</h3>
              <h1>Breaking Into Product Design: Advice from Untitled Founder, Frankie</h1>
              <p>Let’s get one thing out of the way: you don’t need a fancy Bachelor’s Degree to get into Product Design. We sat down with Frankie Sullivan to talk about gatekeeping in product design and how anyone can get into this growing industry.</p>
            </div>
            
            <!-- Right arrow -->
            <div class="carousel-arrow right-arrow2">▶</div>
          </div>

          
          <div class="carousel-slide3">
            <!-- Left arrow -->
            <div class="carousel-arrow left-arrow3">◀</div>
            
            <!-- Content Overlay -->
            <div class="carousel-content">
              <h3 class="featured">Destty Nelly</h3>
              <h1>Breaking Into Product Design: Advice from Untitled Founder, Frankie</h1>
              <p>Let’s get one thing out of the way: you don’t need a fancy Bachelor’s Degree to get into Product Design. We sat down with Frankie Sullivan to talk about gatekeeping in product design and how anyone can get into this growing industry.</p>
            </div>
            
            <!-- Right arrow -->
            <div class="carousel-arrow right-arrow3">▶</div>
          </div>
    
        <!-- Dot navigation -->
        <section class="dot-navigation">
            <input type="radio" class="colordot" id="dotgo">
            <input type="radio" id="dotgo2">
            <input type="radio" id="dotgo3">
        </section>
      </div>

 



      <div class="miniblog">

        <p class="minibp">Recent blog posts</p>
        <div class="d-blogs">

            <div class="blog">

                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

                <p class="blogtitle">How to get job easily</p>

                <span><p class="blogdescrip">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis culpa ullam perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet reprehenderit voluptatibus velit aliquid, ut doloribus error veritatis dolor est, non, placeat natus sed? Ipsam saepe, suscipit velit veritatis aliquid nemo?</p><a href="/blogs/blog1">.....See more</a></span>

                <section class="blogabout">
                    <p class="bloggername">Matthew chris</p>
                    <p class="bloggedate">10 jan 2023</p>
                </section>
            </div>

            <div class="blog">

                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

                <p class="blogtitle">How to get job easily</p>

                <span><p class="blogdescrip">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis culpa ullam perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet reprehenderit voluptatibus velit aliquid, ut doloribus error veritatis dolor est, non, placeat natus sed? Ipsam saepe, suscipit velit veritatis aliquid nemo?</p><a href="/blogs/blog1">.....See more</a></span>

                <section class="blogabout">
                    <p class="bloggername">Matthew chris</p>
                    <p class="bloggedate">10 jan 2023</p>
                </section>
            </div>

            <div class="blog">

                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

                <p class="blogtitle">How to get job easily</p>

                <span><p class="blogdescrip">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis culpa ullam perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet reprehenderit voluptatibus velit aliquid, ut doloribus error veritatis dolor est, non, placeat natus sed? Ipsam saepe, suscipit velit veritatis aliquid nemo?</p><a href="/blogs/blog1">.....See more</a></span>

                <section class="blogabout">
                    <p class="bloggername">Matthew chris</p>
                    <p class="bloggedate">10 jan 2023</p>
                </section>
            </div>


            <div class="blog">

                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

                <p class="blogtitle">How to get job easily</p>

                <span><p class="blogdescrip">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis culpa ullam perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet reprehenderit voluptatibus velit aliquid, ut doloribus error veritatis dolor est, non, placeat natus sed? Ipsam saepe, suscipit velit veritatis aliquid nemo?</p><a href="">.....See more</a></span>

                <section class="blogabout">
                    <p class="bloggername">Matthew chris</p>
                    <p class="bloggedate">10 jan 2023</p>
                </section>
            </div>
        </div>


    
        <div class="d-blogs">

            <div class="blog">

                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

                <p class="blogtitle">How to get job easily</p>

                <span><p class="blogdescrip">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis culpa ullam perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet reprehenderit voluptatibus velit aliquid, ut doloribus error veritatis dolor est, non, placeat natus sed? Ipsam saepe, suscipit velit veritatis aliquid nemo?</p><a href="">.....See more</a></span>

                <section class="blogabout">
                    <p class="bloggername">Matthew chris</p>
                    <p class="bloggedate">10 jan 2023</p>
                </section>
            </div>

            <div class="blog">

                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

                <p class="blogtitle">How to get job easily</p>

                <span><p class="blogdescrip">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis culpa ullam perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet reprehenderit voluptatibus velit aliquid, ut doloribus error veritatis dolor est, non, placeat natus sed? Ipsam saepe, suscipit velit veritatis aliquid nemo?</p><a href="">.....See more</a></span>

                <section class="blogabout">
                    <p class="bloggername">Matthew chris</p>
                    <p class="bloggedate">10 jan 2023</p>
                </section>
            </div>

            <div class="blog">

                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

                <p class="blogtitle">How to get job easily</p>

                <span><p class="blogdescrip">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis culpa ullam perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet reprehenderit voluptatibus velit aliquid, ut doloribus error veritatis dolor est, non, placeat natus sed? Ipsam saepe, suscipit velit veritatis aliquid nemo?</p><a href="">.....See more</a></span>

                <section class="blogabout">
                    <p class="bloggername">Matthew chris</p>
                    <p class="bloggedate">10 jan 2023</p>
                </section>
            </div>


            <div class="blog">

                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

                <p class="blogtitle">How to get job easily</p>

                <span><p class="blogdescrip">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis culpa ullam perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet reprehenderit voluptatibus velit aliquid, ut doloribus error veritatis dolor est, non, placeat natus sed? Ipsam saepe, suscipit velit veritatis aliquid nemo?</p><a href="">.....See more</a></span>

                <section class="blogabout">
                    <p class="bloggername">Matthew chris</p>
                    <p class="bloggedate">10 jan 2023</p>
                </section>
            </div>
        </div>

        </div>
      </div>





</div>





<div class="footer">

    <div class="firstlogo">
        <div class="logo">
        <img src="/images/quickmedlogo.PNG" alt="">
            <p class="logop">Quick<span>Med</span></p>
    </div>

        <p class="smallp">QuickMed Lorem ipsum dolor sit, amet consectetur adipisicing elit. ipsum dolor sit, amet consectetur adipisicing elit.</p>
    

    <div class="downlinks">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
</div>


<div class="Quick-Links">

    <p class="quicklinkheadp">Quick links</p>

    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a class="aboutll">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboiimg"></a></li>
        <div class="aboutdropp">
        <li class="dons1"><a href="About Us.html">About Us</a></li>
        <li class="dons1"><a href="About the team.html">About the team</a></li>
    </div>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="services.html">services</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a class="joinll">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joiniimg"></a></li>
        <div class="joindropp">
        <li class="dons2"><a href="contact.html">Investment</a></li>
        <li class="dons2"><a href="contact.html">Partnership</a></li>
    </ul>

</div>


<div class="sevices">

    <p class="serviceheadp">Services</p>

    <ul>
        <li><a href="">Ambulance</a></li>
        <li><a href="">Hospital</a></li>
        <li><a href="">E-Consult</a></li>
        <li><a href="">Quick-Call</a></li>
    </ul>
</div>


<div class="support">

    <p class="suportheadp">Help & Support</p>

    <ul>
        <li><a href="">09403993939</a></li>
        <li><a href="">quickmed@gmail.com</a></li>
        <li><a href="">Terms and condition</a></li>
    </ul>
</div>


<hr>

<div class="under">
    <p>&copy;copywright QuickMed</p>
</div>

 </div>


 



<script src="/js/general.js"></script>
<script src="/js/blog.js"></script>


<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-90565f88-5697-4e97-8601-ed372141efe8" data-elfsight-app-lazy></div>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>




</body>
</html>