<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickMed</title>
    <link rel="icon" href="/images/quickmedlogo.PNG">
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
   <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>


    <!-- start NavBar -->
    <div class="navbar">

        <div class="logo">
            <img src="/images/quickmedlogo.PNG" alt="QuickMed Logo" class="top">
            <p class="top"><span>QUICK</span>MED</p>
        </div>

        <div class="ham">
            <img id="open" src="/images/hamburger-svgrepo-com (1).png" alt="hamburger icon">
            <img id="closee" src="/images/close-circle-svgrepo-com.png" alt="close icon">
        </div>
        <div class="navlinks">


            <div class="navclose">
                <p id="clop">X</p>
            </div>
          
            <ul id="ul">
                <li><a href="/">Home</a></li>
                <li><a class="aboutl">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboimg"></a></li>
                <div class="aboutdrop">
                <li class="donts1"><a href="/about/aboutus">About Us</a></li>
                <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
            </div>
                <li><a href="/blog">Blog</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a class="joinl">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joinimg"></a></li>
                <div class="joindrop">
                <li class="donts2"><a href="/invest/investment">Investment</a></li>
                <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
            </div>
            </ul>

            
        </div>

       

        <div class="navpop">
        <div class="aboutpop">
            <ul>
                <li><a href="/about/aboutus">About Us</a></li>
                <li><a href="/about/aboutdteam">About the team</a></li>
            </ul>
        </div>
        <div class="joinpop">
            <ul>
                <li><a href="/invest/investment">Investment</a></li>
                <li><a href="/invest/partnership">Partnership</a></li>
            </ul>
        </div>

    </div>

      

    </div>
    <!-- 08062812376 -->
<!-- end navbar -->

<!-- start Hero sec -->

<div class="hero">

    <div class="bgimg">

    </div>
    
    <div class="overl">
    <div class="text" data-aos="fade-down">
        <h1>QUICKMED</h1>
        <p id="p1">A Medical Emergency Service</p>
        <p id="p2">Saving Lives First</p>
    </div>
    <!-- <div class="image ">

        <div class="imgs">
        <img src="/images/Rectangle 55 (2).png" alt="">
        <img src="/images/Hospital_we2-removebg-preview.png" alt="">
        <img src="/images/Costomer_care_1-removebg-preview.png" alt="">
        <img src="/images/Doctor_3-removebg-preview.png" alt="">
    </div>



    </div> -->

    <div class="two-buttons" data-aos="fade-up">

        <div id="but1">
            <p>Download App </p>
            <div class="move1">
            <img src="/images/arrow-prev-small-svgrepo-com (1) white.png "alt="">
        </div>
        </div>

        <div id="play" class="play">
            <div class="o">
            <img src="/images/play-svgrepo-com.png" alt="">
        </div>
            <p>How to use the app</p>
        </div>
    </div>
</div>
</div>








<div class="four-boxes" data-aos="fade-up-right">

    <a href="/services/hospital">
    <div class="first-box">
        <img src="/images/hospital-svgrepo-com.png" alt="Hospital icon">
        <p id="p1"> Hospital <br> <span> Facility Location</span></p>
    </div>
</a>

    <a href="/services/ambulance">
    <div class="second-box">
        <img src="/images/ambulance-svgrepo-com.png" alt="ambulance icon">
        <p id="p1">Ambulance <br> <span> Service</span></p>
    </div>
</a>

    <a href="/services/e-consult">
    <div class="third-box">
        <img src="/images/doctor-svgrepo-com.png" alt="doctor's icon">
    
        <p id="p2">E-Consult</p>
    </div>
</a>

    <a href="services/quick-call">
    <div class="forth-box">

        <img src="/images/call-out-svgrepo-com.png" alt="Call icon">
         
        <p id="p2">Quick Call</p>
    </div>
</a>

</div>




<!-- start popup -->
<div class="over">
<div class="popup">
    <p  id="overp">x</p>
    <iframe  src="https://www.youtube.com/embed/HGcHuU7zJGo?si=uCktnOuaWGxX9-IY" title="YouTube video " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</div>
 <!-- end popup -->



 <div class="invest">

    <p class="investheadp" data-aos="fade-up">Investment & Partnership</p>

    <img src="/images/handshake-business.png" alt="" data-aos="fade-right">

    <div class="comeup" data-aos="fade-left">
    <p class="investtopp">Join Us in <br>Transforming Healthcare</p>

    <p class="investbodyp">At QuickMed, we are at the forefront of revolutionizing healthcare through cutting-edge technology. We are dedicated to improving accessibility, efficiency, and quality in medical services, making a meaningful impact in emergency care, telemedicine, and real-time health monitoring.</p>

    <a href="/invest/invest">
    <p class="seeplenty">
        More Info
    </p>
</a>
</div>

 </div>



 <div class="services">

    <p class="serverp" data-aos="fade-up">Our Services</p>

    <img src="/images/Group 99.png" alt="" id="bg1" data-aos="fade-up-left">

    <div class="movesmall" data-aos="fade-up-right">
    <p class="severtopp">Our  <br>Medical Services</p>

    <p class="severbodyp"> <span>QuickMed</span> offers a lot of medical services from quick ambulance response to online medical sections, to increase medical responce rate and health support to your resting place. Get disgonise from your house with the <span>QuickMed Quota</span> medical device, to check heart rate and sugar level.</p>

    <a href="/services">
        <p class="seeplenty">
            More Info
        </p>
    </a>
</div>

    <img src="/images/Group 99.png" alt="" id="bg" data-aos="fade-up-left">
 </div>





 <div class="meetdteam">

    <p class="teamheadp" data-aos="fade-up">Meet the team</p>

    <div class="showplace" data-aos="fade-right">
        <div class="showplacego">
        <div class="profile">
            <img src="/images/mr CTO.jpg" alt="">

            <p class="headname">Mr Badamusi</p>
            <p class="jobspost">CTO Adain Tech Ltd</p>
        </div>

        <div class="profile">
            <img src="/images/Miss Zee img.jpg" alt="">

            <p class="headname">Miss Zeinab</p>
            <p class="jobspost">UI/UX Intructor</p>
        </div>

        <div class="profile">
            <img src="/images/Miss Rachel.jpg" alt="">

            <p class="headname">Miss Rachel</p>
            <p class="jobspost">Frontend Instructor</p>
        </div>

        <div class="profile">
            <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

            <p class="headname">Abbu chris</p>
            <p class="jobspost">Accountant</p>
        </div>

        <div class="profile">
            <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

            <p class="headname">Abbu chris</p>
            <p class="jobspost">Accountant</p>
        </div>

        <div class="profile">
            <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">

            <p class="headname">Abbu chris</p>
            <p class="jobspost">Accountant</p>
        </div>
    </div>
    </div>
    <div class="checkmoves">
        <input type="radio" id="checked1">
        <input type="radio" id="checked2">
        <input type="radio" id="checked3">
        <input type="radio" id="checked4">
    </div>
 </div>





 <div class="footer">

    <div class="firstlogo">
        <div class="logo">
        <img src="/images/quickmedlogo.PNG" alt="">
            <p class="logop">Quick<span>Med</span></p>
    </div>

        <p class="smallp">At QuickMed, we are at the forefront of revolutionizing healthcare through cutting-edge technology.</p>
    

    <div class="downlinks">
        <a href="https://web.facebook.com/profile.php?id=61557942997138" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.youtube.com/@QuickMedng" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.instagram.com/quickmed.ng?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/Quick_Med1" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    </div>
</div>


<div class="Quick-Links">

    <p class="quicklinkheadp">Quick links</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="aboutll">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboiimg"></a></li>
        <div class="aboutdropp">
            <li class="donts1"><a href="/about/aboutus">About Us</a></li>
            <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
    </div>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/services">services</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a class="joinll">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joiniimg"></a></li>
      <div class="joindropp">
                <li class="donts2"><a href="/invest/investment">Investment</a></li>
                <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
            </div>
    

</div>


<div class="sevices">

    <p class="serviceheadp">Services</p>

    <ul>
        <li><a href="/services/ambulance">Ambulance</a></li>
        <li><a href="/services/hospital">Hospital</a></li>
        <li><a href="/services/e-consult">E-Consult</a></li>
        <li><a href="/services/quick-call">Quick-Call</a></li>
    </ul>
</div>


<div class="support">

    <p class="suportheadp">Help & Support</p>

    <ul>
        <li><a href="tel:09045585701">09045585701</a></li>
        <li><a href="mailto:quickmed@gmail.com">quickmed@gmail.com</a></li>
        <li><a href="/Terms">Terms and condition</a></li>
    </ul>
</div>


<hr>

<div class="under">
    <p>&copy;copywright QuickMed</p>
</div>

 </div>

<script>
    document.querySelector(".play").addEventListener("click", function(){
        // window.alert("kkkk")
        document.querySelector(".over").classList.add("active")
    })
    
    
    document.getElementById("overp").addEventListener("click", function(){
        // window.alert("kkkk")
        window.location = "/"
        document.querySelector(".over").classList.remove("active")
    })
    
        let radio1 = document.getElementById("checked1");
        let radio2 = document.getElementById("checked2");
        let radio3 = document.getElementById("checked3");
        let radio4 = document.getElementById("checked4");
    
     function check (){
    
    
        radio2.checked = false;
        radio3.checked = false;
        radio4.checked = false;
     }
    
     function check2 (){
    
    
    radio1.checked = false;
    radio3.checked = false;
    radio4.checked = false;
    }
    
    function check3 (){
    
    
    radio1.checked = false;
    radio2.checked = false;
    radio4.checked = false;
    }
    
    function check4 (){
    
    
    radio1.checked = false;
    radio2.checked = false;
    radio3.checked = false;
    }
    
    
    document.getElementById("checked1").addEventListener("click", function(){
        document.querySelector(".showplacego").classList.remove("goo2")
        document.querySelector(".showplacego").classList.remove("goo3")
        document.querySelector(".showplacego").classList.remove("goo4")
        check ()
    })
    
    
    document.getElementById("checked2").addEventListener("click", function(){
        document.querySelector(".showplacego").classList.add("goo2")
        document.querySelector(".showplacego").classList.remove("goo3")
        document.querySelector(".showplacego").classList.remove("goo4");
        check2 ()
    })
    
    document.getElementById("checked3").addEventListener("click", function(){
        document.querySelector(".showplacego").classList.add("goo3")
        document.querySelector(".showplacego").classList.remove("goo4")
        check3 ()
    })
    
    document.getElementById("checked4").addEventListener("click", function(){
        document.querySelector(".showplacego").classList.add("goo4")
        check4 ()
    })
    
</script>
 


<script src="/js/general.js"></script>


<script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-df35016c-bd3b-4ff1-b25c-8bd8912d937e" data-elfsight-app-lazy></div>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>