<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickMed</title>
    <link rel="icon" href="/images/quickmedlogo.PNG">
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/service.css">
</head>
<body>


<!-- start NavBar -->
<div class="navbar">

    <div class="logo">
        <img src="/images/quickmedlogo.PNG" alt="QuickMed Logo" class="top">
        <p class="top"><span>QUICK</span>MED</p>
    </div>

    <div class="ham">
        <img id="open" src="/images/hamburger-svgrepo-com (1).png" alt="hamburger icon">
        <img id="closee" src="/images/close-circle-svgrepo-com.png" alt="close icon">
    </div>
    <div class="navlinks">


        <div class="navclose">
            <p id="clop">X</p>
        </div>
      
        <ul id="ul">
            <li><a href="/">Home</a></li>
            <li><a class="aboutl">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboimg"></a></li>
            <div class="aboutdrop">
            <li class="donts1"><a href="/about/aboutus">About Us</a></li>
            <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
        </div>
            <li><a href="blog">Blog</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a class="joinl">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joinimg"></a></li>
            <div class="joindrop">
            <li class="donts2"><a href="/invest/investment">Investment</a></li>
            <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
        </div>
        </ul>

        
    </div>

   

    <div class="navpop">
    <div class="aboutpop">
        <ul>
            <li><a href="/about/aboutus">About Us</a></li>
            <li><a href="/about/aboutdteam">About the team</a></li>
        </ul>
    </div>
    <div class="joinpop">
        <ul>
            <li><a href="/invest/investment">Investment</a></li>
            <li><a href="/invest/partnership">Partnership</a></li>
        </ul>
    </div>

</div>

  

</div>
<!-- 08062812376 -->
<!-- end navbar -->





    <div class="service">

        <div class="sercicestoppage">
            <div class="sertopbigdiv">
                <h2>Swift Response, <br> Saving Lives Always</h2>

                <p class="topbodyp">When every second counts, trust QuickMed for immediate medical attention and emergency services. In life's most critical moments, count on QuickMed for rapid emergency medical response and expert care.</p>

                <a href="/services#d-services">see more services</a>
            </div>

            <img src="/images/doctor-stand.jpg" alt="">
        </div>



        <div class="d-services" id="d-services">

            <p class="d-servicesheadp">Services</p>

            <div class="realserve">

                <a style="color: black;">
                    <div class="d-serve">
                        <img src="/images/hospital-svgrepo-com.png" alt="">
                        <p class="serveheadp">Hospital Service</p>
        
                        <section class="bodyp">
                            <p class="servebodyp">Whether it’s an emergency or routine checkup, we connect you to the nearest and most suitable medical facilities, ensuring you get the care you need when you need it.
                                Find the Care You Need, Fast
                            </p>
                        </section>
                        
        
                        <a href="services/hospital">Read more</a>
                    </div>
        
                </a>


                <a style="color: black;">
                    <div class="d-serve">
                        <img src="/images/ambulance-svgrepo-com.png" alt="">
                        <p class="serveheadp">Ambulance Service</p>
        
                        <section id="bodyp" class="bodyp">
                            <p class="servebodyp"> <b>QuickMed</b> Ambulance Service is a pioneering E-medical hailing platform designed to connect individuals in need of emergency medical transportation with certified ambulance providers, anytime and anywhere in Nigeria.</p>
                        </section>
                        
        
                        <a href="services/ambulance">Read more</a>
                    </div>
        
                </a>


          <a style="color: black;">
            <div class="d-serve">
                <img src="/images/doctor-svgrepo-com.png" alt="">
                <p class="serveheadp">E-Consult</p>

                <section class="bodyp">
                    <p class="servebodyp">The <b>QuickMed</b> E-Consult Platform puts the future of healthcare at your fingertips.
                        In today's fast-paced world, healthcare must adapt to satisfy the demands for convenience, efficiency, and security.
                        Traditional healthcare models frequently require patients to wait for appointments, travel large distances, and endure time-consuming in-person visits. </p>
                </section>
                

                <a href="services/e-consult">Read more</a>
            </div>

        </a>

            </div>



        <div class="realserve">

            <a  style="color: black;">
                <div class="d-serve">
                    <img src="/images/call-out-svgrepo-com.png" alt="">
                    <p class="serveheadp">Quick Call</p>
    
                    <section class="bodyp">
                        <p class="servebodyp">At <strong>QuickMed</strong>, we understand that every second counts when it comes to healthcare. That’s why we’ve developed <strong>Quick Call</strong>, a revolutionary service designed to provide instant access to healthcare professionals and emergency assistance at the touch of a button. Whether you need immediate medical attention, an ambulance, or a consultation with a trusted healthcare provider, Quick Call ensures you’re never alone in your time of need.</p>
                    </section>
                    
    
                    <a href="services/quick-call">Read more</a>
                </div>
    
            </a>

            <a class="" style="color: black;">
                <div class="d-serve">
                    <img src="/images/group-of-people-having-a-conversation-svgrepo-com.png" alt="">
                    <p class="serveheadp">Platform</p>
    
                    <section class="bodyp">
                        <p class="servebodyp"><b>QuickMed Workplace Platform:</b> Streamlining Healthcare Operations for Better Outcomes.

                            The <b>QuickMed Workplace Platform</b>  is a state-of-the-art solution designed to optimize healthcare facility operations, enhance patient care, and empower your team. Tailored for healthcare professionals, our platform integrates advanced technology to simplify daily tasks, improve communication, and ensure better decision-making at every level.
                            </p>
                    </section>
                    
    
                    <a href="services/platform">Read more</a>
                </div>
    
            </a>


            <a style="color: black;">
            <div class="d-serve">
                <img src="/images/tree-svgrepo-com.png" alt="">
                <p class="serveheadp">Foundation</p>

                <section class="bodyp">
                    <p class="servebodyp">At <strong>QuickMed</strong>, we believe in creating a world where everyone has equal access to healthcare and education, regardless of their financial background. Our <strong>Foundation</strong> is dedicated to breaking down barriers and empowering individuals to lead healthy, productive lives while contributing to the global economy.</p>
                </section>
                

                <a href="services/foundation">Read more</a>
            </div>

        </a>

        </div>




        <div class="realserve">
        <a style="color: black;">
            <div class="d-serve">
                <img src="/images/Telemed.png" alt="">
                <p class="serveheadp">Telemed</p>

                <section class="bodyp">
                    <p class="servebodyp">At <strong>QuickMed</strong>, we believe healthcare should be accessible, efficient, and tailored to your needs. Introducing <strong>Telemed</strong>, our innovative telemedicine service that brings healthcare professionals to your fingertips. Whether you need a quick consultation, prescription refill, or expert medical advice, Telemed ensures you receive quality care without leaving your home.</p>
                </section>
                

                <a href="services/telemed">Read more</a>
            </div>

        </a>

        <a  style="color: black;">
            <div class="d-serve">
                <img src="/images/call-out-svgrepo-com.png" alt="">
                <p class="serveheadp">QuickMed Quota</p>

                <section class="bodyp">
                    <p class="servebodyp">At <strong>QuickMed</strong>, we’re revolutionizing how you monitor and manage your health. Introducing <strong>QuickMed Quota</strong>, an innovative medical device designed to provide real-time health statistics, empowering you to take control of your well-being like never before. While still in development, Quota promises to be your ultimate health companion, offering live insights into your vital signs and overall health.</p>
                </section>
                

                <a href="services/quota">Read more</a>
            </div>

        </a>

        <a style="color: black;">
            <div class="d-serve">
                <img src="/images/shield-check-svgrepo-com.png" alt="">
                <p class="serveheadp">Quick Insurance</p>

                <section class="bodyp">
                    <p class="servebodyp">At <strong>QuickMed</strong>, we understand that your health is your most valuable asset. That’s why we’re proud to introduce <strong>Quick Insurance</strong>, a comprehensive health insurance solution designed to provide you with peace of mind and financial security. Whether you’re planning for routine check-ups, unexpected medical emergencies, or long-term care, Quick Insurance has you covered.</p>
                </section>
                

                <a href="services/insurance">Read more</a>
            </div>

        </a>



        </div>

        </div>
    </div>




    <div class="footer">

        <div class="firstlogo">
            <div class="logo">
            <img src="/images/quickmedlogo.PNG" alt="">
                <p class="logop">Quick<span>Med</span></p>
        </div>
    
            <p class="smallp">At QuickMed, we are at the forefront of revolutionizing healthcare through cutting-edge technology.</p>
        
    
        <div class="downlinks">
            <a href="https://web.facebook.com/profile.php?id=61557942997138" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/@QuickMedng" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.instagram.com/quickmed.ng?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/Quick_Med1" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
    
    
    <div class="Quick-Links">
    
        <p class="quicklinkheadp">Quick links</p>
    
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="aboutll">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboiimg"></a></li>
            <div class="aboutdropp">
                <li class="donts1"><a href="/about/aboutus">About Us</a></li>
                <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
        </div>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/services">services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a class="joinll">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joiniimg"></a></li>
          <div class="joindropp">
                    <li class="donts2"><a href="/invest/investment">Investment</a></li>
                    <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
                </div>
        
    
    </div>
    
    
    <div class="sevices">
    
        <p class="serviceheadp">Services</p>
    
        <ul>
            <li><a href="/services/ambulance">Ambulance</a></li>
            <li><a href="/services/hospital">Hospital</a></li>
            <li><a href="/services/e-consult">E-Consult</a></li>
            <li><a href="/services/quick-call">Quick-Call</a></li>
        </ul>
    </div>
    
    
    <div class="support">
    
        <p class="suportheadp">Help & Support</p>
    
        <ul>
            <li><a href="tel:09045585701">09045585701</a></li>
            <li><a href="mailto:quickmed@gmail.com">quickmed@gmail.com</a></li>
            <li><a href="/Terms">Terms and condition</a></li>
        </ul>
    </div>
    
    
    <hr>
    
    <div class="under">
        <p>&copy;copywright QuickMed</p>
    </div>
    
     </div>


 



<script src="/js/general.js"></script>





<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>