

:root{
    --black: #000;
    --white: #fff;
    --red: #ff0000;
    --bg: #d9d9d998;
    --poppins: "poppins", sans-serif;
    --main-color: #ff9000;
    --shadow: 1px 2px 20px -8px black;
}

.navbar{
    margin-top: -200px;
}

.service{
    margin-top: 200px;
}

.service .sercicestoppage{
    margin-bottom: 100px;
}
.service .sercicestoppage .sertopbigdiv{
    background-color: var(--main-color);
    border-radius: 15px;
    box-shadow: var(--shadow);
    margin-left: 10%;
    margin-top: 100px;
    width: 80%;
    height: 400px;
    padding-top: 0.8%;
    padding-left: 2%;
}
.service .sercicestoppage .sertopbigdiv h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: 100px;
}
.service .sercicestoppage .sertopbigdiv .topbodyp{
    font-size: 14px;
    width: 45%;
    margin-top: -15px;
}
.service .sercicestoppage .sertopbigdiv a{
    background-color: var(--bg);
    border-radius: 5px;
    font-size: 13px;
    color: var(--black);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.service .sercicestoppage img{
    border-radius: 15px;
    width: 35%;
    box-shadow: var(--shadow);
    height: 550px;
    margin-left: 53%;
    margin-top: -475px;
}






.service .d-services{
    width: 100%;
}
.service .d-services .d-servicesheadp{
    font-size: 50px;
    font-weight: 200;
    margin-left: 40%;
}

.service .d-services .realserve{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    margin-bottom: 20px;
}
.service .d-services .realserve a{
    color: var(--black);
}
.service .d-services .realserve div{
    background-color: var(--bg);
    color: var(--black);
    width: 30%;
    padding: 1%;
    margin-left: 1%;
}
.service .d-services .realserve div img{
    width: 100px;
    height: 100px;
}
.service .d-services .realserve div .serveheadp{
    margin-left: 35%;
    margin-top: -60px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
}
.service .d-services .realserve div .bodyp{
    height: 120px;
    margin-top: 50px;
}
.service .d-services .realserve div .bodyp .servebodyp{
    font-size: 13px;
    max-height: 100px;
    width: 90%;
    overflow: hidden;
}
.service .d-services .realserve .d-serve a{
    color: var(--red);
    font-size: 13px;
}
.service .d-services .realserve a{
    color: var(--black);
}
a{
    color: var(--black);
}












@media (min-width: 200px){





.service .sercicestoppage .sertopbigdiv{
    background-color: var(--main-color);
    border-radius: 15px;
    box-shadow: var(--shadow);
    margin-left: 0%;
    align-self: center;
    justify-self: center;
    margin-top: 100px;
    width: 80%;
    height: auto;
    padding-top: 0.8%;
    padding-bottom: 30px;
    padding-left: 2%;
}
.service .sercicestoppage .sertopbigdiv h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}
.service .sercicestoppage .sertopbigdiv .topbodyp{
    font-size: 10px;
    width: 90%;
    margin-top: -15px;
}
.service .sercicestoppage .sertopbigdiv a{
    background-color: var(--bg);
    font-size: 10px;
    color: var(--black);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.service .sercicestoppage img{
    display: none;
    border-radius: 15px;
    width: 35%;
    box-shadow: var(--shadow);
    height: 550px;
    margin-left: 53%;
    margin-top: -475px;
}






.service .d-services .d-servicesheadp{
    font-size: 30px;
    align-self: center;
    justify-self: center;
    font-weight: 200;
    margin-left: 0%;
}
.service .d-services .realserve{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    margin-bottom: 20px;
}
.service .d-services .realserve div{
    background-color: var(--bg);
    color: var(--black);
    width: 90%;
    padding: 3%;
    margin-left: 1%;
    margin-bottom: 20px;
}
.service .d-services .realserve div img{
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.service .d-services .realserve div .serveheadp{
    margin-left: 5%;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    align-self: center;
    justify-self: center;
}
.service .d-services .realserve div .bodyp{
    height: 120px;
    margin-top: 10px;
}
.service .d-services .realserve div .bodyp .servebodyp{
    font-size: 13px;
    max-height: 100px;
    width: 90%;
    overflow: hidden;
}

}












@media (min-width: 400px){

    .service .d-services .realserve div .serveheadp{
        margin-top: -60px;
        font-size: 20px;
    }
    .service .d-services .realserve div .bodyp{
        margin-top: 50px;
    }
}










@media (min-width: 500px){

    .service .sercicestoppage .sertopbigdiv h2{
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
    }
    .service .sercicestoppage .sertopbigdiv .topbodyp{
        font-size: 10px;
        width: 50%;
        margin-top: -15px;
    }
    .service .sercicestoppage img{
        display: block;
        border-radius: 15px;
        width: 35%;
        box-shadow: var(--shadow);
        height: 300px;
        margin-left: 53%;
        margin-top: -255px;
    }

    .service .d-services .realserve{
        width: 60%;
        margin-left: 5%;
        margin-right: 5%;
        display: block;
        margin-bottom: 20px;
        align-self: center;
        justify-self: center;
    }

    .service .d-services .realserve div{
        background-color: var(--bg);
        color: var(--black);
        width: 93%;
        padding: 3%;
        margin-left: 0%;
        margin-bottom: 20px;
    }
}












@media (min-width: 800px){

    .service .sercicestoppage .sertopbigdiv{
        background-color: var(--main-color);
        border-radius: 15px;
        box-shadow: var(--shadow);
        margin-left: 0%;
        margin-top: 70px;
        width: 80%;
        height: auto;
        padding-top: 0.8%;
        padding-left: 2%;
    }
    .service .sercicestoppage .sertopbigdiv h2{
        font-size: 30px;
        font-weight: 400;
        margin-top: 100px;
    }
    .service .sercicestoppage .sertopbigdiv .topbodyp{
        font-size: 14px;
        width: 45%;
        margin-top: -15px;
    }
    .service .sercicestoppage .sertopbigdiv a{
        background-color: var(--bg);
        border-radius: 5px;
        font-size: 13px;
        color: var(--black);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .service .sercicestoppage img{
        border-radius: 15px;
        width: 35%;
        box-shadow: var(--shadow);
        height: 550px;
        margin-left: 53%;
        margin-top: -475px;
    }
    
    
    
    
    
    
    .service .d-services{
        width: 100%;
    }
    .service .d-services .d-servicesheadp{
        font-size: 50px;
        font-weight: 200;
        margin-left: 0%;
    }
    
    .service .d-services .realserve{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        margin-bottom: 20px;
    }
    .service .d-services .realserve a{
        color: var(--black);
    }
    .service .d-services .realserve div{
        background-color: var(--bg);
        color: var(--black);
        width: 30%;
        padding: 1%;
        margin-left: 1%;
    }
    .service .d-services .realserve div img{
        width: 100px;
        height: 100px;
    }
    .service .d-services .realserve div .serveheadp{
        margin-left: 45%;
        margin-top: -60px;
        font-size: 20px;
        font-weight: 600;
    }
    .service .d-services .realserve div .bodyp{
        height: 120px;
        margin-top: 50px;
    }
    .service .d-services .realserve div .bodyp .servebodyp{
        font-size: 13px;
        max-height: 100px;
        width: 90%;
        overflow: hidden;
    }
    .service .d-services .realserve .d-serve a{
        color: var(--red);
        font-size: 13px;
    }
    .service .d-services .realserve a{
        color: var(--black);
    }
    a{
        color: var(--black);
    }
    
}




















@media (min-width: 1000px){


    .service .sercicestoppage .sertopbigdiv{
        background-color: var(--main-color);
        border-radius: 15px;
        box-shadow: var(--shadow);
        margin-left: 0%;
        margin-top: 100px;
        width: 80%;
        height: 400px;
        padding-top: 0.8%;
        padding-left: 2%;
    }
    .service .sercicestoppage .sertopbigdiv h2{
        font-size: 40px;
        font-weight: 400;
        margin-top: 100px;
    }
    .service .sercicestoppage .sertopbigdiv .topbodyp{
        font-size: 14px;
        width: 45%;
        margin-top: -15px;
    }
    .service .d-services .realserve div #bodyp{
        margin-top: -00px;
    }
    .service .sercicestoppage .sertopbigdiv a{
        background-color: var(--bg);
        border-radius: 5px;
        font-size: 13px;
        color: var(--black);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .service .sercicestoppage img{
        border-radius: 15px;
        width: 35%;
        box-shadow: var(--shadow);
        height: 550px;
        margin-left: 53%;
        margin-top: -475px;
    }

    .service .d-services .realserve div .serveheadp{
        margin-left: 40%;
        margin-top: -60px;
        font-size: 25px;
        font-weight: 600;
    }
   
}