


.carousel-container {
    position: relative;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    margin-left: 0px;
    height: auto;
  }
  
  .carousel-slide {
    display: flex;
    position: relative;
    background-image: url(/images/microsoft-365-7mBictB_urk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    align-items: center;
    padding: 150px 20px;
    border-radius: 10px;
    margin-left: 0px;
  }
  
  

  
  
@media (min-width: 200px){

  .carousel-container {
    margin-left: 0%;
    justify-self: center;
  }
}



@media (min-width: 1200px){

  .carousel-container {
    margin-left: 0%;
    justify-self: center;
  }
}