<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" href="/images/quickmedlogo.PNG">
    <link rel="stylesheet" href="/css/all.css">
</head>


<style>
    body{
        margin: 0px;
        padding: 0px;
    }
    .alll{
        margin: auto;
        /* margin-top: -20px; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff9000;
        width: 100%;
        min-height: 100vh;
    }
    .inside{
        width: 95%;
        max-width: 700px;
        text-align: center;
    }
    .big{
        font-size: 150px;
    }
    .small{
        margin-top: -150px;
        font-size: 36px;
    }
    .story{
        font-size: 16px;
    }
    button{
        padding: 10px 40px;
        background-color: #ff0000;
    }

    @media (max-width: 315px){
        .big{
        font-size: 100px;
        }
        .small{
        margin-top: -100px;
        font-size: 36px;
        }
    }
</style>
<body>




    <div class="alll">
        <div class="inside">
                  <h1 class="big">404</h1>
    <p class="small">Error</p>
    <p class="story">Oops! 🚧 The page you're looking for is still under construction and not ready yet. We're working hard to get it up and running soon.

        In the meantime, feel free to explore other parts of our site or check back later.</p>

        <a href="/"><button>Go Home</button></a>
        </div>

  
    </div>
    
    
</body>
</html>