<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickMed</title>
    <link rel="icon" href="/images/quickmedlogo.PNG">
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/aboutdteam.css">
</head>
<body>


<!-- start NavBar -->
<div class="navbar">

    <div class="logo">
        <img src="/images/quickmedlogo.PNG" alt="QuickMed Logo" class="top">
        <p class="top"><span>QUICK</span>MED</p>
    </div>

    <div class="ham">
        <img id="open" src="/images/hamburger-svgrepo-com (1).png" alt="hamburger icon">
        <img id="closee" src="/images/close-circle-svgrepo-com.png" alt="close icon">
    </div>
    <div class="navlinks">


        <div class="navclose">
            <p id="clop">X</p>
        </div>
      
        <ul id="ul">
            <li><a href="/">Home</a></li>
            <li><a class="aboutl">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboimg"></a></li>
            <div class="aboutdrop">
            <li class="donts1"><a href="/about/aboutus">About Us</a></li>
            <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
        </div>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a class="joinl">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joinimg"></a></li>
            <div class="joindrop">
            <li class="donts2"><a href="/invest/investment">Investment</a></li>
            <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
        </div>
        </ul>

        
    </div>

   

    <div class="navpop">
    <div class="aboutpop">
        <ul>
            <li><a href="/about/aboutus">About Us</a></li>
            <li><a href="/about/aboutdteam">About the team</a></li>
        </ul>
    </div>
    <div class="joinpop">
        <ul>
            <li><a href="/invest/investment">Investment</a></li>
            <li><a href="/invest/partnership">Partnership</a></li>
        </ul>
    </div>

</div>

  

</div>
<!-- 08062812376 -->
<!-- end navbar -->




<div class="aboutdteam">

    <img src="/images/Family11e.png" alt="">


    <div class="aboutdteamp">

        <p class="aboutdheadp">About the team</p>

        <p class="aboutdbodyp">
            At QuickMed, we believe in the power of collaboration, innovation, and dedication. Our team consists of passionate individuals committed to revolutionizing healthcare through technology. Each member brings unique expertise, from cutting-edge engineering to medical knowledge, ensuring that we provide world-class solutions. Together, we’re creating a healthier, more connected future. <br> <br>
            
            Our Leadership:
            Salefu Ngbede Odaudu– Founder & Product Development Director  
            A visionary in tech and health, Salefu leads QuickMed with a passion for bridging the gap between healthcare and technology. With a Ph.D. in Computer Engineering and a track record of innovative solutions, he drives the company’s product development and strategic direction. <br> </p>
            
          
    </div>

    <p class="aboutdbodyp2">
        Our Experts:
        Our engineers, developers, and healthcare specialists work hand-in-hand to design seamless platforms and cutting-edge devices. With diverse backgrounds and expertise, our team thrives on solving complex challenges with creative solutions.
        
        Our Values:
        Innovation: We're constantly pushing the boundaries of what's possible to improve healthcare access and quality.
        Integrity:We do what's right for our customers, partners, and community, every time.
        Collaboration: Working together to transform healthcare for the better.
        
        
        
        Our Partners
        
        We believe in the power of strong partnerships. Our partners play a critical role in helping us fulfill our mission to make healthcare more accessible and effective through innovative technology. From medical institutions to tech providers, our partnerships enhance our ability to deliver the best possible solutions to our users.
        
        Strategic Partnerships:
        HealthTech Innovators: Collaborating with leading healthcare and technology companies to develop the most advanced solutions for patient care.
        Medical Institutions & Networks: Working with hospitals, clinics, and healthcare networks to ensure seamless integration and real-time data management.
        Insurance Providers:Partnering with top insurers to offer affordable and accessible medical solutions through our platform.
        
        Together, We Transform Healthcare:
        Our partners share our vision of revolutionizing healthcare. Through collaboration, we combine expertise, technology, and compassion to build solutions that make a real difference in people’s lives.</p>

    <div class="meetdteam">

        <p class="teamheadp" data-aos="fade-up">Meet the team</p>
    
        <div class="showplace" data-aos="fade-right">
            <div class="showplacego">
            <div class="profile">
                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">
    
                <p class="headname">John chris</p>
                <p class="jobspost">Accountant</p>
            </div>
    
            <div class="profile">
                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">
    
                <p class="headname">John chris</p>
                <p class="jobspost">Accountant</p>
            </div>
    
            <div class="profile">
                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">
    
                <p class="headname">John chris</p>
                <p class="jobspost">Accountant</p>
            </div>
    
            <div class="profile">
                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">
    
                <p class="headname">Abbu chris</p>
                <p class="jobspost">Accountant</p>
            </div>
    
            <div class="profile">
                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">
    
                <p class="headname">Abbu chris</p>
                <p class="jobspost">Accountant</p>
            </div>
    
            <div class="profile">
                <img src="/images/microsoft-365-7mBictB_urk-unsplash.jpg" alt="">
    
                <p class="headname">Abbu chris</p>
                <p class="jobspost">Accountant</p>
            </div>
        </div>
        </div>
        <div class="checkmoves">
            <input type="radio" id="checked1">
            <input type="radio" id="checked2">
            <input type="radio" id="checked3">
            <input type="radio" id="checked4">
        </div>
     </div>
</div>







<div class="footer">

    <div class="firstlogo">
        <div class="logo">
        <img src="/images/quickmedlogo.PNG" alt="">
            <p class="logop">Quick<span>Med</span></p>
    </div>

        <p class="smallp">At QuickMed, we are at the forefront of revolutionizing healthcare through cutting-edge technology.</p>
    

    <div class="downlinks">
        <a href="https://web.facebook.com/profile.php?id=61557942997138" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.youtube.com/@QuickMedng" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.instagram.com/quickmed.ng?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/Quick_Med1" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    </div>
</div>


<div class="Quick-Links">

    <p class="quicklinkheadp">Quick links</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="aboutll">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboiimg"></a></li>
        <div class="aboutdropp">
            <li class="donts1"><a href="/about/aboutus">About Us</a></li>
            <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
    </div>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/services">services</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a class="joinll">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joiniimg"></a></li>
      <div class="joindropp">
                <li class="donts2"><a href="/invest/investment">Investment</a></li>
                <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
            </div>
    

</div>


<div class="sevices">

    <p class="serviceheadp">Services</p>

    <ul>
        <li><a href="/services/ambulance">Ambulance</a></li>
        <li><a href="/services/hospital">Hospital</a></li>
        <li><a href="/services/e-consult">E-Consult</a></li>
        <li><a href="/services/quick-call">Quick-Call</a></li>
    </ul>
</div>


<div class="support">

    <p class="suportheadp">Help & Support</p>

    <ul>
        <li><a href="tel:09045585701">09045585701</a></li>
        <li><a href="mailto:quickmed@gmail.com">quickmed@gmail.com</a></li>
        <li><a href="/Terms">Terms and condition</a></li>
    </ul>
</div>


<hr>

<div class="under">
    <p>&copy;copywright QuickMed</p>
</div>

 </div>


 <script>
    
        let radio1 = document.getElementById("checked1");
        let radio2 = document.getElementById("checked2");
        let radio3 = document.getElementById("checked3");
        let radio4 = document.getElementById("checked4");
    
     function check (){
    
    
        radio2.checked = false;
        radio3.checked = false;
        radio4.checked = false;
     }
    
     function check2 (){
    
    
    radio1.checked = false;
    radio3.checked = false;
    radio4.checked = false;
    }
    
    function check3 (){
    
    
    radio1.checked = false;
    radio2.checked = false;
    radio4.checked = false;
    }
    
    function check4 (){
    
    
    radio1.checked = false;
    radio2.checked = false;
    radio3.checked = false;
    }
    
    
    document.getElementById("checked1").addEventListener("click", function(){
        document.querySelector(".showplacego").classList.remove("goo2")
        document.querySelector(".showplacego").classList.remove("goo3")
        document.querySelector(".showplacego").classList.remove("goo4")
        check ()
    })
    
    
    document.getElementById("checked2").addEventListener("click", function(){
        document.querySelector(".showplacego").classList.add("goo2")
        document.querySelector(".showplacego").classList.remove("goo3")
        document.querySelector(".showplacego").classList.remove("goo4");
        check2 ()
    })
    
    document.getElementById("checked3").addEventListener("click", function(){
        document.querySelector(".showplacego").classList.add("goo3")
        document.querySelector(".showplacego").classList.remove("goo4")
        check3 ()
    })
    
    document.getElementById("checked4").addEventListener("click", function(){
        document.querySelector(".showplacego").classList.add("goo4")
        check4 ()
    })
    
</script>



<script src="/js/general.js"></script>


<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-90565f88-5697-4e97-8601-ed372141efe8" data-elfsight-app-lazy></div>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>