<!doctype html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-wide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-pat="/assets/"
  data-template="vertical-menu-template-free"
  data-style="light">
  <head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>QuickMed</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/quickmedlogo.PNG" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/vendor/fonts/remixicon/remixicon.css" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/vendor/js/helpers.js"></script>
    
    <script src="/js/config.js"></script>
    <link rel="stylesheet" href="/css/try.css">
    <style>
      body{
        padding-top: 100px;
      }
    .five-depo-coren{
    /* background-color: red; */
    width: 95%;
    margin-left: 20px;
    margin-bottom: 230px;
    margin-top: 100px;
}
  .five-depo-coren div{
    cursor: pointer;
    float: left;
    width: 200px;
    margin-bottom: 10px;
    padding-top: 5px;
    height: 70px;
    margin-right: 2%;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--shadow);
}
  .five-depo-coren div img{
    width: 50px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px -5px;
    background-color: lightgray;
}
  .five-depo-coren div #main-a{
    font-size: 20px;
    font-weight: 600;
    margin-left: 70px;
    margin-top: -50px;
}
  .five-depo-coren div #main-a span{
    font-size: 11px;
    font-weight: 400;
}
  .five-depo-coren div #add{
    margin-left: 70px;
    font-size: 11px;
    font-weight: 600;
    color: red;
}
  .five-depo-coren div section{
    background-color: lightgrey;
    margin-left: 130px;
    margin-top: -19px;
    width: 30%;
    height: 25px;
    font-size: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

  .five-depo-coren div section p{
    /* transform: translateY(5px); */
    margin-top: 1px;
    padding-top: 5px;
    color: var(--white);
}
    </style>
  </head>

  <body >
    <!-- Layout wrapper -->


    <div class="overb">


              
      <div id="normalb" class="modal-body">
        <div id="close1" class="close">
          <i class="fa fa-close"></i>
        </div>

        <h4>Normal Blog</h4>
                    <form action="http://localhost:3800/api/admin/upload-blog" method="post" enctype="multipart/form-data">
                        
                    <input type="text"  name="id" class="form-control"  value="" hidden>
                        
                        <div class="mb-3">
                            <label for="username" class="form-label">Tittle</label>
                            <input type="text"  name="title" class="form-control" id="title" >
                        </div>
                       
      
                        <div class="mb-3">
                            <label for="content" class="form-label">Content</label>
                            <input type="text" name="content" class="form-control" id="content" >
                        </div>
      
                        <div class="mb-3">
                          <label for="content" class="form-label">Full Name</label>
                          <input type="text" name="fullname" class="form-control" id="content" >
                      </div>
      
                        <div class="mb-3">
                          <label for="pic_file" class="form-label">Blog Image</label>
                          <input type="file" name="image" class="form-control" id="image" >
                      </div>


            
                        <div class="modal-footer">
                            <button type="submit" class="btnn ">Upload</button>
                        </div>
                    </form>
                </div>
      
    <div id="TopBlog" class="modal-body">
        <div id="close2" class="close">
          <i class="fa fa-close"></i>
        </div>

        <h4>Top Blog</h4>
                  <form action="http://localhost:3800/api/admin/blog" method="post" enctype="multipart/form-data">
                      
                  <input type="text"  name="id" class="form-control"  value="" hidden>
                      
                      <div class="mb-3">
                          <label for="username" class="form-label">Tittle</label>
                          <input type="text"  name="setitle" class="form-control" id="title" >
                      </div>
                     
      
                      <div class="mb-3">
                          <label for="content" class="form-label">Content</label>
                          <input type="text" name="secontent" class="form-control" id="content" >
                      </div>
      
                      <div class="mb-3">
                        <label for="content" class="form-label">Full Name</label>
                        <input type="text" name="sefullname" class="form-control" id="content" >
                    </div>
      
                      <div class="mb-3">
                        <label for="pic_file" class="form-label">Blog Image</label>
                        <input type="file" name="image" class="form-control" id="image" >
                    </div>

              
      
                    
      
                     
      
                      <div class="modal-footer">
                          <button type="submit" class="btnn btnn-primary">Upload</button>
                      </div>
                  </form>
              </div>
      

  </div>

  <span class="app-brand-text demo menu-text fw-semibold ms-2" style="padding-top: 100px;">QuickMed</span>

    




  <section id="sec1">

    <div class="btnnd">
      <h3>Top Blog</h3>
      <button class="btnn" id="btnn">+Upload</button>
    </div>


    <div>              
      <h3>Normal Blog</h3>
      <button id="btn" class="btnn" data-bs-toggle="modal" data-bs-target="#editProfileModal">+Upload</button>
    </div>


  
  </section>

    


        
        


             





           



      
      <!-- Content wrapper -->
    </div>

       
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
    </div>
    
    </div>
    <!-- / Layout wrapper -->

 

    <!-- Core JS -->
    <!-- build:/vendor/js/core.js -->
    <script src="/vendor/libs/jquery/jquery.js"></script>
    <script src="/vendor/libs/popper/popper.js"></script>
    <script src="/vendor/js/bootstrap.js"></script>
    <script src="/vendor/libs/node-waves/node-waves.js"></script>
    <script src="/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="/js/main1.js"></script>

    <!-- Page JS -->

    <!-- Place this tag before closing body tag for github widget button. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="/js/adminjs.js"></script>
  </body>
</html>