<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickMed</title>
    <link rel="icon" href="/images/quickmedlogo.PNG">
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/servicess.css">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>


 <!-- start NavBar -->
  <div class="navbar">

    <div class="logo">
        <img src="/images/quickmedlogo.PNG" alt="QuickMed Logo" class="top">
        <p class="top"><span>QUICK</span>MED</p>
    </div>

    <div class="ham">
        <img id="open" src="/images/hamburger-svgrepo-com (1).png" alt="hamburger icon">
        <img id="closee" src="/images/close-circle-svgrepo-com.png" alt="close icon">
    </div>
    <div class="navlinks">


        <div class="navclose">
            <p id="clop">X</p>
        </div>
      
        <ul id="ul">
            <li><a href="/">Home</a></li>
            <li><a class="aboutl">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboimg"></a></li>
            <div class="aboutdrop">
            <li class="donts1"><a href="/about/aboutus">About Us</a></li>
            <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
        </div>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a class="joinl">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joinimg"></a></li>
            <div class="joindrop">
            <li class="donts2"><a href="/invest/investment">Investment</a></li>
            <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
        </div>
        </ul>

        
    </div>

   

    <div class="navpop">
    <div class="aboutpop">
        <ul>
            <li><a href="/about/aboutus">About Us</a></li>
            <li><a href="/about/aboutdteam">About the team</a></li>
        </ul>
    </div>
    <div class="joinpop">
        <ul>
            <li><a href="/invest/investment">Investment</a></li>
            <li><a href="/invest/partnership">Partnership</a></li>
        </ul>
    </div>

</div>

  

</div>
<!-- 08062812376 -->
<!-- end navbar -->


    <div class="d-text">

        <p class="headd2">Foundation</p>

        <div class="advert2">

            <p class="adtop">ADVERTISEMENT</p>
    
            <div class="d-add">
                <p class="d-addp">PLACE <br> <span>ADVERTISEMENT</span></p>
            </div>
    
        </div>

        <div class="advert3">

            <p class="adtop">ADVERTISEMENT</p>
    
            <div class="d-add">
                <p class="d-addp">PLACE <br> <span>ADVERTISEMENT</span></p>
            </div>
    
        </div>


        <div class="bodyy">
            <h1>Foundation: Building a Brighter Future for All</h1>

<p>At <strong>QuickMed</strong>, we believe in creating a world where everyone has equal access to healthcare and education, regardless of their financial background. Our <strong>Foundation</strong> is dedicated to breaking down barriers and empowering individuals to lead healthy, productive lives while contributing to the global economy.</p>

<h2>Our Mission</h2>
<p>The QuickMed Foundation is committed to eliminating financial barriers to essential healthcare and providing underprivileged youth with access to quality tech education and resources. We aim to ensure that individuals in need receive life-saving medical assistance while equipping young people with the tools to thrive in the digital world.</p>

<h2>Key Objectives</h2>
<ul>
  <li><strong>Equal Access</strong>: Create a society where everyone has equal access to healthcare and education, regardless of their financial background.</li>
  <li><strong>Empowerment</strong>: Promote human potential through skilled and non-skilled activities, ensuring individuals can live healthy, productive lives.</li>
  <li><strong>Community Support</strong>: Encourage community outreach for older care, support for widows, and youth empowerment.</li>
  <li><strong>Sustainable Development</strong>: Promote community-driven development to achieve sustainable development goals.</li>
  <li><strong>Inclusivity</strong>: Fight all forms of discrimination, reduce inequality, and promote an inclusive society through education and skill acquisition.</li>
</ul>

<h2>Our Commitment</h2>
<p>We are dedicated to fostering a society where every individual has the opportunity to thrive. By providing access to essential healthcare and quality education, we aim to empower communities and promote sustainable development. Our Foundation is a testament to our belief in the inherent potential of every individual and our commitment to creating a more inclusive and equitable world.</p>

<h2>Join Us</h2>
<p>Together, we can build a brighter future for all. Join us in our mission to eliminate barriers, empower communities, and promote sustainable development. Your support can make a difference in the lives of countless individuals and communities.</p>



        </div>


        <div class="advert4">

            <p class="adtop">ADVERTISEMENT</p>
    
            <div class="d-add">
                <p class="d-addp">PLACE <br> <span>ADVERTISEMENT</span></p>
            </div>
    
        </div>
    </div>


    
    




    <div class="footer">

        <div class="firstlogo">
            <div class="logo">
            <img src="/images/quickmedlogo.PNG" alt="">
                <p class="logop">Quick<span>Med</span></p>
        </div>
    
            <p class="smallp">At QuickMed, we are at the forefront of revolutionizing healthcare through cutting-edge technology.</p>
        
    
        <div class="downlinks">
            <a href="https://web.facebook.com/profile.php?id=61557942997138" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/@QuickMedng" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.instagram.com/quickmed.ng?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/Quick_Med1" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
    
    
    <div class="Quick-Links">
    
        <p class="quicklinkheadp">Quick links</p>
    
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="aboutll">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboiimg"></a></li>
            <div class="aboutdropp">
                <li class="donts1"><a href="/about/aboutus">About Us</a></li>
                <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
        </div>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/services">services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a class="joinll">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joiniimg"></a></li>
          <div class="joindropp">
                    <li class="donts2"><a href="/invest/investment">Investment</a></li>
                    <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
                </div>
        
    
    </div>
    
    
    <div class="sevices">
    
        <p class="serviceheadp">Services</p>
    
        <ul>
            <li><a href="/services/ambulance">Ambulance</a></li>
            <li><a href="/services/hospital">Hospital</a></li>
            <li><a href="/services/e-consult">E-Consult</a></li>
            <li><a href="/services/quick-call">Quick-Call</a></li>
        </ul>
    </div>
    
    
    <div class="support">
    
        <p class="suportheadp">Help & Support</p>
    
        <ul>
            <li><a href="tel:09045585701">09045585701</a></li>
            <li><a href="mailto:quickmed@gmail.com">quickmed@gmail.com</a></li>
            <li><a href="/Terms">Terms and condition</a></li>
        </ul>
    </div>
    
    
    <hr>
    
    <div class="under">
        <p>&copy;copywright QuickMed</p>
    </div>
    
     </div>
    
    
     
    
    
    
    <script src="/js/general.js"></script>
    <script src="/js/service.js"></script>
    
    
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-df35016c-bd3b-4ff1-b25c-8bd8912d937e" data-elfsight-app-lazy></div>
    
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    
    </body>
    </html>